<%= page_heading "Invite Verification" %>
<% if @handler_result.errors.any? %>
  <p>Sorry, we couldn't find any pending invitations using the confirmation code you provided.  If you typed it in manually, please check for errors.  If you're still having trouble, you might ask whoever setup your account to try again.</p>
<% else %>
<p>
  Thanks for validating your OpenStax invitation.
</p>
<p>
  <% if @handler_result.outputs.can_log_in %>
    You can now <%= link_to("sign in", login_url) %> to your new account.
  <% else %>
    Please <%= link_to('sign up',register_url) %> for a account using email <%= @handler_result.outputs.email_address %> address in order to complete the process.
  <% end %>
</p>
<% end %>
