<%= ox_card(heading: (t @handler_result.errors.any? ?
                        :".page_heading.error" :
                        :".page_heading.success")) do %>

  <% if @handler_result.errors.any? %>
    <% if @handler_result.errors.first.code == :"already confirmed on another account" %>
      <p><%= t :".email_already_in_use" %></p>
    <% else %>
      <p><%= t :".verification_code_not_found" %></p>
    <% end %>
  <% else %>
    <p><%= t :".you_may_now_close_this_window" %></p>
  <% end %>
  </div>

<% end %>
