<span id="password-show-hide-button">
    <span class="toggle-show-hide">SHOW</span>
    <span class="toggle-show-hide" style="display: none">HIDE</span>
</span>

<script type="text/javascript">
  $(function() {
      var pwd_input = document.getElementById('signup_password');
      var pwd_checkmark = document.getElementById('password-requirements-checkmark');

      pwd_input.oninput = function(event){
        if (pwd_input.value.length >= <%= @min_passw_length %>) {
          pwd_checkmark.classList.add("success");
        } else {
          pwd_checkmark.classList.remove("success");
        }
      }
  });
</script>
