<div class="social-buttons">
  <div class="fb-share-button">
  <%=
      link_to(
        social_auth_path(:facebook, origin: :login_form),
        class: 'facebook btn',
        data:  { ga_category: 'Login', ga_action: 'Click', ga_label: 'Facebook' }
      ) do
    %>
      <i class= "social-icon fa fa-facebook"> </i><span>Facebook</span>
  <% end %>
  </div>

  <div class="google-share-button">
    <%=
      link_to(
        social_auth_path(:google_oauth2, origin: :login_form),
        class: 'google btn',
        data:  { ga_category: 'Login', ga_action: 'Click', ga_label: 'Google' }
      ) do
    %>
      <i class="social-icon fa fa-google"></i><span>Google</span>
    <% end %>
  </div>
</div>
