<div class="row other-sign-in">
  <div class="col-sm-2 category">
    <%= other_html.html_safe %>
  </div>
  <div class="col-sm-10 info providers">
    <%= other_providers_block.join("\n").html_safe %>
  </div>
</div>
