<%= page_heading (t :".page_heading") %>

<p><%= t :".a_verification_has_been_sent", address: current_user.email_addresses.first.try(:value) %></p>

<p><%= button_to (t :".resend_verification"),
                 resend_confirmation_contact_info_path(current_user.email_addresses.first),
                 method: :put,
                 class: 'standard' %></p>

<br />
<br />
<br />
<p><%= t :".click_to_continue_html", url: stored_url %></p>
