<%= page_heading 'Verification sent' %>

<p>A verification email has been sent to <%= current_user.email_addresses.first.try(:value) %>.  If you don't see the message in your inbox, check your junk or spam folder.</p>

<p><%= button_to 'Resend Confirmation',
                 resend_confirmation_contact_info_path(current_user.email_addresses.first),
                 method: :put,
                 class: 'standard' %></p>

<br />
<br />
<br />
<p>Already verified your email address? <a href="<%= stored_url %>">Continue</a>.</p>
