<%
  @hide_layout_errors = true
  login_state = get_login_state
  names = login_state[:names] || []
%>

<div class="ox-card login">

  <h1 class="title"><%= t '.name_greeting', name: names.first %></h1>

  <%= render partial: 'authenticate_options' %>

</div>
