<%= image_tag('openstax-logo-white.png', width: 174, height: 40, class: 'logo') %>


<div class="ox-card">

  <h1 class="title">Log in to OpenStax</h1>

  <%= form_tag '/auth/identity/callback' do %>

    <input type="email" placeholder="name@mail.edu" name="email" />

    <input type="submit" class="btn btn-primary" value="NEXT" />

    <div class="footer">
      <p>
        No account?
        <%= link_to('Sign Up', signup_password_path) %>
      </p>
    </div>
  <% end %>
</div>
