<style type='text/css'>
  #top-nav-account { display: none;}
</style>

<%= page_heading("Sign in to your one OpenStax account!".html_safe) %>

<%= render 'sessions/login', hide_signup: session[:from_cnx] %>


<div id="login-explanation">
  <p>Use the buttons at the right to sign in using your Facebook, Twitter, or Google account.</p>
  <% if session[:from_cnx] %>
    <p>If you have a legacy Connexions account, you can enter your username and password instead.</p>
  <% else %>
    <p>Prefer to use a plain old username and password?  You can do that too.</p>
  <% end %>
</div>


    
