---
http_interactions:
- request:
    method: get
    uri: https://cms-dev.openstax.org/apps/cms/api/snippets/subjects/?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Math","page_content":"","seo_title":"Math SEO Title","search_description":"This
        is math search meta"},{"id":2,"name":"Science","page_content":"","seo_title":"Science
        SEO Title","search_description":"This is science search meta"},{"id":3,"name":"Humanities","page_content":"","seo_title":"Humanities
        SEO Title","search_description":"This is humanities search meta"},{"id":4,"name":"Social
        Sciences","page_content":"","seo_title":"Social Sciences SEO Title","search_description":"This
        is social sciences search meta"},{"id":5,"name":"Business","page_content":"","seo_title":"Business
        SEO Title","search_description":"This is business search meta"},{"id":6,"name":"Essentials","page_content":"","seo_title":null,"search_description":null},{"id":7,"name":"College
        Success","page_content":"","seo_title":null,"search_description":null},{"id":8,"name":"High
        School","page_content":"","seo_title":null,"search_description":null}]'
  recorded_at: Thu, 30 Apr 2020 20:58:21 GMT
recorded_with: VCR 3.0.3
