dist: xenial
language: ruby # the version is specified in .ruby-version
cache: bundler
bundler_args: --without=production --retry=6
env: OXA_DB_USER=postgres OXA_TEST_DB=travis_ci_test PARALLEL_TEST_PROCESSORS=2
addons:
  chrome: stable
  postgresql: 9.5
services:
  - xvfb
before_script:
  - which google-chrome
  - google-chrome --version
  - bundle exec rake assets:precompile
  - bundle exec rake --trace parallel:create parallel:load_schema parallel:seed
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
script: bundle exec parallel_rspec ./spec
notifications:
  email: false
