<h4>Create a new banner</h4>

<div style="width: 100%; max-width: 700px">
  <%= lev_form_for :create, url: admin_banners_path, remote: false, 
                   html: {id: 'create-user-form', class: 'form-horizontal'} do |f| %>

    <div class='form-group'>
      <label class='col-sm-3 control-label'>Message</label>
      <div class='col-sm-9'>
        <%= f.text_field :message, class: 'form-control' %>
      </div>
    </div>
    <div class='form-group'>
      <label class='col-sm-3 control-label'>Expires at</label>
      <div class='col-sm-9 input-group'>
        <%= f.datetime_select :expires_at, 
            default: DateTime.now.in_time_zone('Central Time (US & Canada)'),
            ampm: true,
            minute_step: 10,
            class: 'form-control' 
        %>
        Central Time (US & Canada)
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-offset-3 col-sm-9'>
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      </div>
    </div>

  <% end %>
</div>
