<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= javascript_include_tag  "ox-account" %>
    <script>OxAccount.parentLocation='<%= params[:parent] %>'</script>
    <style type="text/css">
        html, body { margin: 0; padding: 0; height: 100%; }
        iframe {
            position: absolute;
            top: 0; left: 0; width: 100%; height: 100%;
            border: none;
        }
    </style>
  </head>
  <body>
    <iframe width="100%" height="100%" id="content" name="content"></iframe>
  </body>
</html>
