<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= javascript_include_tag  "remote-access" %>
    <style>
        html, body { margin: 0; padding: 0; height: 100%; }
        iframe {
            position: absolute;
            top: 0; left: 0; width: 100%; height: 100%;
            border: none;
        }
    </style>
  </head>
  <body>
    <iframe width="100%" height="100%" id="content" name="content"></iframe>
  </body>
</html>
