<% @hide_layout_errors = true %>

<div class="ox-card">

  <h1 class="title"><%= t :'.page_heading' %></h1>

  <p><%= t :'.message' %></p>

  <div class="checkbox">
    <label>
      <input type="checkbox"><%= t :".check_box" %>
    </label>
  </div>

  <%= button_to (t :".ok"), {action: :instructor_access_pending}, {class: 'primary'} %>

</div>
