---
http_interactions:
- request:
    method: get
    uri: https://pro.ip-api.com/json/8.8.8.8?key=<ip_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS15169 Google LLC","city":"Ashburn","country":"United States","countryCode":"US","isp":"Level
        3 Communications","lat":39.0438,"lon":-77.4874,"org":"Google Inc.","query":"8.8.8.8","region":"VA","regionName":"Virginia","status":"success","timezone":"America/New_York","zip":"20149"}'
  recorded_at: Sat, 24 Aug 2019 22:44:17 GMT
recorded_with: VCR 3.0.3
