---
http_interactions:
- request:
    method: get
    uri: https://services.sheerid.com/rest/v2/verification/5ef42cfaeddfdd1bd961c088/details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <sheerid_api_secret>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"programId":"5e150b86ce2a5a1d94874660","trackingId":null,"personId":"6293fa079a977557091ef8a5","socialId":null,"created":1593060602978,"updated":1593060611778,"lastResponse":{"verificationId":"5ef42cfaeddfdd1bd961c088","currentStep":"success","errorIds":[],"segment":"teacher","subSegment":null,"locale":"en-US","country":"US","rewardCode":"EXAMPLE-CODE","redirectUrl":"?verificationId=5ef42cfaeddfdd1bd961c088","rewardData":{"rewardCode":"EXAMPLE-CODE"}},"personInfo":null,"docUploadRejectionCount":0,"docUploadRejectionReasons":[],"confirmedSegments":[{"segment":"teacher","subSegment":null,"organization":{"id":2681,"name":"Rice
        University","idExtended":null,"source":null},"active":true,"startDate":null,"endDate":null}]}'
  recorded_at: Mon, 18 Jul 2022 19:59:23 GMT
recorded_with: VCR 6.1.0
