---
http_interactions:
- request:
    method: get
    uri: https://services.sheerid.com/rest/v2/verification/5ef42cfaeddfdd1bd961c088/details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <sheerid_api_secret>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"programId":"5e150b86ce2a5a1d94874660","trackingId":null,"created":1593060602978,"updated":1593060611778,"lastResponse":{"verificationId":"5ef42cfaeddfdd1bd961c088","currentStep":"collectTeacherPersonalInfo","errorIds":[],"segment":"teacher","subSegment":null,"locale":"en-US","rewardCode":"EXAMPLE-CODE"},"personInfo":null,"docUploadRejectionCount":0,"docUploadRejectionReasons":[]}'
  recorded_at: Tue, 30 Jun 2020 18:36:45 GMT
recorded_with: VCR 3.0.3
