---
http_interactions:
- request:
    method: get
    uri: https://services.sheerid.com/rest/v2/verification/5ecfdd5a7ccdbc1a94865309/details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <sheerid_api_secret>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"programId":"5e150b86ce2a5a1d94874660","trackingId":null,"created":1590680922839,"updated":1590680942123,"lastResponse":{"verificationId":"5ecfdd5a7ccdbc1a94865309","currentStep":"success","errorIds":[],"segment":"teacher","subSegment":null,"locale":"en-US","rewardCode":"EXAMPLE-CODE"},"personInfo":{"firstName":"ADKLFJASDLKFJ","lastName":"ASDLFKASDJF","email":"asldkfjaklsdjf@gmail.com","birthDate":null,"deviceFingerprintHash":null,"phoneNumber":null,"locale":"en-US","metadata":{"marketConsentValue":"false"},"organization":{"id":3492117,"name":"Aos
        98 - Rcss (Boothbay Harbor, ME)"},"postalCode":"04538","ipAddress":"73.155.240.73"},"docUploadRejectionCount":0}'
  recorded_at: Tue, 09 Jun 2020 13:55:44 GMT
recorded_with: VCR 3.0.3
