<%= page_heading "New OAuth Application" %>

<%= link_to 'Application List', oauth_applications_path, style: 'float: right' %>

<div class="span12" style="clear: both; padding-top: 20px">
  <%= render 'form', :application => @application %>
</div>
