<p>Hi <%= @user.casual_name %>,</p>

<p><%= link_to "Click here to reset your OpenStax password",
               reset_password_url(token: @user.login_token) %>.</p>

<p>If you didn't ask to reset your password, please ignore this message.</p>

<%= render :partial => 'shared/email_closing' %>
