<p>Hi <%= @user.first_name %>! You recently made a request to reset the password for your OpenStax account. Click the link below to get started:</p>

<p>
  <%= link_to "Reset my password", password_reset_url(token: @user.login_token) %>
</p>

<p>Regards,<br/>
The <%= TEAM_NAME %> Team</p>
