---
http_interactions:
- request:
    method: post
    uri: "<tutor_specs_instance_url>/services/data/v37.0/sobjects/Lead"
    body:
      encoding: UTF-8
      string: '{"FirstName":"Bianka","LastName":"Brekke","Subject__c":"","Company":"JP
        University","Website":"http://www.rice.edu","Email":"f@f.com","LeadSource":"OSC
        Faculty","Newsletter__c":true,"Newsletter_Opt_In__c":true,"Adoption_Status__c":"Confirmed
        Adoption Won","Number_of_Students__c":0,"OS_Accounts_ID__c":1,"Application_Source__c":""}'
    headers:
      User-Agent:
      - Faraday v0.9.2
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
      Accept-Encoding:
      - gzip;q=1.0,deflate;q=0.6,identity;q=0.3
      Accept:
      - "*/*"
  response:
    status:
      code: 201
      message: Created
    headers:
      Date:
      - Mon, 12 Feb 2018 20:35:55 GMT
      Strict-Transport-Security:
      - max-age=31536000; includeSubDomains
      X-Content-Type-Options:
      - nosniff
      X-Xss-Protection:
      - 1; mode=block
      Content-Security-Policy:
      - upgrade-insecure-requests
      X-Robots-Tag:
      - none
      Cache-Control:
      - no-cache,must-revalidate,max-age=0,no-store,private
      Set-Cookie:
      - BrowserId=BHb8Qn-3SwC5ycTCZsjKDw;Path=/;Domain=.salesforce.com;Expires=Fri,
        13-Apr-2018 20:35:55 GMT;Max-Age=5184000
      Expires:
      - Thu, 01 Jan 1970 00:00:00 GMT
      Sforce-Limit-Info:
      - api-usage=3/48000
      Location:
      - "/services/data/v37.0/sobjects/Lead/00QW0000006UrZmMAK"
      Content-Type:
      - application/json;charset=UTF-8
      Vary:
      - Accept-Encoding
      Transfer-Encoding:
      - chunked
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00QW0000006UrZmMAK","success":true,"errors":[]}'
    http_version: 
  recorded_at: Mon, 12 Feb 2018 20:35:56 GMT
- request:
    method: get
    uri: "<tutor_specs_instance_url>/services/data/v37.0/query?q=SELECT%20Id,%20Name,%20FirstName,%20LastName,%20Salutation,%20Subject__c,%20Company,%20Phone,%20Website,%20Status,%20Email,%20LeadSource,%20Newsletter__c,%20Newsletter_Opt_In__c,%20Adoption_Status__c,%20Number_of_Students__c,%20OS_Accounts_ID__c,%20accounts_uuid_c__c,%20Application_Source__c%20FROM%20Lead%20WHERE%20(Id%20=%20%2700QW0000006UrZmMAK%27)%20LIMIT%201"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Agent:
      - Faraday v0.9.2
      Authorization:
      - OAuth <tutor_specs_oauth_token>
      Accept-Encoding:
      - gzip;q=1.0,deflate;q=0.6,identity;q=0.3
      Accept:
      - "*/*"
  response:
    status:
      code: 200
      message: OK
    headers:
      Date:
      - Mon, 12 Feb 2018 20:35:57 GMT
      Strict-Transport-Security:
      - max-age=31536000; includeSubDomains
      X-Content-Type-Options:
      - nosniff
      X-Xss-Protection:
      - 1; mode=block
      Content-Security-Policy:
      - upgrade-insecure-requests
      X-Robots-Tag:
      - none
      Cache-Control:
      - no-cache,must-revalidate,max-age=0,no-store,private
      Set-Cookie:
      - BrowserId=BmRDNwdFTDakhHxfsvcIKw;Path=/;Domain=.salesforce.com;Expires=Fri,
        13-Apr-2018 20:35:57 GMT;Max-Age=5184000
      Expires:
      - Thu, 01 Jan 1970 00:00:00 GMT
      Sforce-Limit-Info:
      - api-usage=4/48000
      Content-Type:
      - application/json;charset=UTF-8
      Vary:
      - Accept-Encoding
      Transfer-Encoding:
      - chunked
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Lead","url":"/services/data/v37.0/sobjects/Lead/00QW0000006UrZmMAK"},"Id":"00QW0000006UrZmMAK","Name":"Bianka
        Brekke","FirstName":"Bianka","LastName":"Brekke","Salutation":null,"Subject__c":null,"Company":"JP
        University","Phone":null,"Website":"http://www.rice.edu","Status":"Needs School","Email":"f@f.com","LeadSource":"OSC
        Faculty","Newsletter__c":true,"Newsletter_Opt_In__c":true,"Adoption_Status__c":"Confirmed
        Adoption Won","Number_of_Students__c":30.0,"OS_Accounts_ID__c":"1","accounts_uuid_c__c":null,"Application_Source__c":null}]}'
    http_version: 
  recorded_at: Mon, 12 Feb 2018 20:35:57 GMT
recorded_with: VCR 3.0.3
