---
http_interactions:
- request:
    method: post
    uri: "<salesforce_instance_url_lower>/services/data/v37.0/sobjects/Lead"
    body:
      encoding: UTF-8
      string: '{"FirstName":"Bryan","LastName":"Eli","Company":"Bryan Eli University","Email":"f@f.com","LeadSource":"OSC
        Faculty","Newsletter__c":false,"Newsletter_Opt_In__c":false,"OS_Accounts_ID__c":1,"accounts_uuid_c__c":"8a2d68b5-7d2a-4fcc-8d69-fbbf5e06d0c5","Application_Source__c":"Tutor
        Signup","Role__c":"instructor","FV_Status__c":"pending_faculty","FV_Final__c":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <salesforce_access_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00DR0000001zq0Zm";
      Sforce-Limit-Info:
      - api-usage=2597/51000
      Location:
      - "/services/data/v37.0/sobjects/Lead/00QR000000K1pYSMAZ"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00QR000000K1pYSMAZ","success":true,"errors":[]}'
  recorded_at: Wed, 12 Aug 2020 16:21:30 GMT
- request:
    method: get
    uri: https://services.sheerid.com/rest/v2/verification/5ef1ae416b29ca1badac1210/details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <sheerid_api_secret>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"programId":"5e150b86ce2a5a1d94874660","trackingId":null,"created":1592897089250,"updated":1592897095538,"lastResponse":{"verificationId":"5ef1ae416b29ca1badac1210","currentStep":"success","errorIds":[],"segment":"teacher","subSegment":null,"locale":"en-US","rewardCode":"EXAMPLE-CODE","redirectUrl":"https://www.openstax.org/"},"personInfo":{"firstName":"Bryan36dev","lastName":"Dimas","email":"bed1+bryan36dev@rice.edu","birthDate":null,"deviceFingerprintHash":null,"phoneNumber":null,"country":null,"locale":"en-US","metadata":{"marketConsentValue":"false"},"organization":{"id":2681,"name":"Rice
        University (Houston, TX)"},"postalCode":"77005","ipAddress":"73.155.240.73"},"docUploadRejectionCount":0,"docUploadRejectionReasons":[]}'
  recorded_at: Wed, 12 Aug 2020 16:21:31 GMT
- request:
    method: get
    uri: "<salesforce_instance_url_lower>/services/data/v37.0/query?q=SELECT%20Id,%20Name,%20FirstName,%20LastName,%20Salutation,%20Subject__c,%20Company,%20Phone,%20Website,%20Status,%20Email,%20LeadSource,%20Newsletter__c,%20Newsletter_Opt_In__c,%20Adoption_Status__c,%20Number_of_Students__c,%20OS_Accounts_ID__c,%20accounts_uuid_c__c,%20Application_Source__c,%20Role__c,%20who_chooses_books__c,%20FV_Status__c,%20FV_Final__c%20FROM%20Lead%20WHERE%20(Id%20=%20%2700QR000000K1pYSMAZ%27)%20LIMIT%201"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <salesforce_access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00DR0000001zq0Zm";
      Sforce-Limit-Info:
      - api-usage=2597/51000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Lead","url":"/services/data/v37.0/sobjects/Lead/00QR000000K1pYSMAZ"},"Id":"00QR000000K1pYSMAZ","Name":"Bryan
        Eli","FirstName":"Bryan","LastName":"Eli","Salutation":null,"Subject__c":null,"Company":"Bryan
        Eli University","Phone":null,"Website":null,"Status":"Converted","Email":"f@f.com","LeadSource":"OSC
        Faculty","Newsletter__c":false,"Newsletter_Opt_In__c":false,"Adoption_Status__c":"High
        Interest in Adopting","Number_of_Students__c":30.0,"OS_Accounts_ID__c":"1","accounts_uuid_c__c":"8a2d68b5-7d2a-4fcc-8d69-fbbf5e06d0c5","Application_Source__c":"Tutor
        Signup","Role__c":"Faculty","who_chooses_books__c":null,"FV_Status__c":"pending_faculty","FV_Final__c":true}]}'
  recorded_at: Wed, 12 Aug 2020 16:21:31 GMT
- request:
    method: patch
    uri: "<salesforce_instance_url_lower>/services/data/v37.0/sobjects/Lead/00QR000000K1pYSMAZ"
    body:
      encoding: UTF-8
      string: '{"FirstName":"Tiesha","LastName":"Walter","Company":"Blick-Murphy","Adoption_Status__c":null,"Number_of_Students__c":null,"Role__c":"instructor","FV_Status__c":"confirmed_faculty"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <salesforce_access_token>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00DR0000001zq0Zm";
      Sforce-Limit-Info:
      - api-usage=2597/51000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Aug 2020 16:21:32 GMT
recorded_with: VCR 3.0.3
