---
http_interactions:
- request:
    method: post
    uri: "<salesforce_instance_url>/services/data/v51.0/sobjects/Lead"
    body:
      encoding: UTF-8
      string: '{"FirstName":"Bryan","LastName":"Eli","Company":"Bryan Eli University","Email":"bed1+bryan36dev@rice.edu","LeadSource":"OSC
        Faculty","Newsletter__c":false,"Newsletter_Opt_In__c":false,"OS_Accounts_ID__c":12,"accounts_uuid_c__c":"9ed35151-1590-4840-b547-bc8093bb7add","Application_Source__c":"Tutor
        Signup","Role__c":"instructor","FV_Status__c":"pending_faculty","FV_Final__c":true,"Needs_CS_Review__c":false,"BRI_Marketing__c":false,"Title_1_school__c":false,"SheerID_School_Name__c":"Bryan
        Eli University"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <salesforce_access_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=581/5000000
      Location:
      - "/services/data/v51.0/sobjects/Lead/00Q0v000007Y9wxEAC"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00Q0v000007Y9wxEAC","success":true,"errors":[]}'
  recorded_at: Fri, 05 Mar 2021 19:05:48 GMT
- request:
    method: get
    uri: https://services.sheerid.com/rest/v2/verification/5ef1ae416b29ca1badac1210/details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <sheerid_api_secret>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"systemErrorMessage":"Provided API token is empty or invalid","errorIds":[]}'
  recorded_at: Fri, 05 Mar 2021 19:05:48 GMT
recorded_with: VCR 3.0.3
