---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=<tutor_specs_refresh_token>&client_id=my_salesforce_key&client_secret=my_salesforce_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"unsupported_grant_type","error_description":"grant type not
        supported"}'
  recorded_at: Mon, 15 May 2017 22:02:50 GMT
- request:
    method: get
    uri: "<tutor_specs_instance_url>/services/data/v37.0/query?q=SELECT%20Id,%20Name%20FROM%20Account"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=7/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Account","url":"/services/data/v37.0/sobjects/Account/0010S0000057qMUQAY"},"Id":"0010S0000057qMUQAY","Name":"JP
        University"}]}'
  recorded_at: Mon, 15 May 2017 22:23:02 GMT
- request:
    method: post
    uri: "<tutor_specs_instance_url>/services/data/v37.0/sobjects/Contact"
    body:
      encoding: UTF-8
      string: '{"FirstName":"Hudson","LastName":"Schinner","AccountId":"0010S0000057qMUQAY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=9/48000
      Location:
      - "/services/data/v37.0/sobjects/Contact/0030S000005OVWuQAO"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0030S000005OVWuQAO","success":true,"errors":[]}'
  recorded_at: Mon, 15 May 2017 22:23:03 GMT
- request:
    method: get
    uri: "<tutor_specs_instance_url>/services/data/v37.0/query?q=SELECT%20Id,%20Name,%20FirstName,%20LastName,%20Email,%20Email_alt__c,%20Faculty_Confirmed_Date__c,%20Faculty_Verified__c,%20LastModifiedDate,%20AccountId%20FROM%20Contact%20WHERE%20(Id%20=%20%270030S000005OVWuQAO%27)%20LIMIT%201"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=6/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v37.0/sobjects/Contact/0030S000005OVWuQAO"},"Id":"0030S000005OVWuQAO","Name":"Hudson
        Schinner","FirstName":"Hudson","LastName":"Schinner","Email":null,"Email_alt__c":null,"Faculty_Confirmed_Date__c":null,"Faculty_Verified__c":null,"LastModifiedDate":"2017-05-15T22:23:03.000+0000","AccountId":"0010S0000057qMUQAY"}]}'
  recorded_at: Mon, 15 May 2017 22:23:03 GMT
recorded_with: VCR 3.0.3
