---
http_interactions:
- request:
    method: get
    uri: "<tutor_specs_instance_url>/services/data/v37.0/query?q=SELECT%20Id,%20Name,%20FirstName,%20LastName,%20Email,%20Email_alt__c,%20Faculty_Confirmed_Date__c,%20Faculty_Verified__c,%20LastModifiedDate,%20AccountId%20FROM%20Contact%20WHERE%20(Id%20=%20%27somethingNewNotInSF%27)%20LIMIT%201"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Session expired or invalid","errorCode":"INVALID_SESSION_ID"}]'
  recorded_at: Mon, 15 May 2017 22:02:50 GMT
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=<tutor_specs_refresh_token>&client_id=my_salesforce_key&client_secret=my_salesforce_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"unsupported_grant_type","error_description":"grant type not
        supported"}'
  recorded_at: Mon, 15 May 2017 22:02:51 GMT
recorded_with: VCR 3.0.3
