<%
    @min_passw_length ||= Identity::MIN_PASSWORD_LENGTH
%>

<div class="tooltip">
    <h4><%= I18n.t(:"login_signup_form.password_requirements") %></h4>
    <div>
        <i id="password-requirements-checkmark" class="fa fa-check-circle">
        </i>
        <%= I18n.t(:"login_signup_form.min_characters", number: @min_passw_length) %>
    </div>
</div>
