<div class="tab-group">
    <%= link_to I18n.t(:'login_signup_form.log_in'), login_path, class: "tab login #{active_class}" %>
    <%= link_to I18n.t(:'login_signup_form.sign_up'), signup_path, class: "tab signup #{active_class}" %>
    <a class="tab tab--placeholder"></a>
</div>
