<p>Hi <%= @user.casual_name %>! Set up a password for your OpenStax account.</p>

<p>You recently made a request to set up a password for your OpenStax account. Click the link below to get started:</p>

<p>
  <%= link_to "Set up your password", create_password_form_url(token: @user.login_token) %>
</p>

<p>Regards,<br/>
The <%= TEAM_NAME %> Team</p>
