@mixin ox-button($bg_color, $fg_color: white) {
  transition: background-color 0.2s ease;
  background-color: $bg_color;
  border-color: darken($bg_color, 10%);
  color: $fg_color;
  &:hover {
    background-color: darken($bg_color, 5%);
    border-color: darken($bg_color, 20%);
    color: darken($fg_color, 5%);
  }
}


.btn,
input[type=submit],
button {
  &.cancel,
  &.primary {
    @extend .btn;
    text-transform: uppercase;
    border-radius: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-color: darken($os_orange, 10%);
    font-weight: 700;
    font-family: $os_heading_font_family;
  }

  &.cancel {
    @include ox-button($os_gray);
  }

  &.primary {
    @include ox-button($os_orange);

    &.new-style {
      font-size: 1.6rem;
      line-height: 2rem;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 4rem;
      padding: 0 3rem;
      background: #D4450C;
      color: #FFFFFF;
      border: 0;
      border-radius: 5px;
      box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      user-select: none;
      white-space: nowrap;
      text-transform: none;

      &:not([disabled]) {
        &:hover {
          background: #be3c08;
        }
        &:active {
          background: #b03808;
        }
      }
    }
  }

}
