.btn,
input[type=submit],
button {
  @extend %button;

  &.cancel,
  &.primary {
    @extend %primary;
  }

  &.cancel,
  &.secondary {
    @extend %secondary;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
