@import "common";

.subjects {

    &.has-error {
      border: 1px solid darken($state-danger-border, 10%);
    }
    .errors { margin-left: 1rem; }
    .scroll-pane {
      @extend .clearfix !optional;
      // Height of list is selected to chop off in middle of line to provide an
      // indication that there's items that can be scrolled to
      max-height: 235px;
      overflow-y: scroll;
      border: 1px solid #ccc;
      padding: 5px;
      background-color: white;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
        &:vertical { width: 11px; }
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, .5);
      }
      &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 8px;
      }

      .subject {
        display: flex;
        height: 50px;

        & + .subject { border-top: 1px solid $os_line_color; }
        > * {
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
        }

        input {
          margin-top: 0px;
          align-self: center;
        }

        label {
          font-weight: inherit;
          font-size: 15px;
          margin-left: 0.5rem;
          flex: 1;
          cursor: pointer;
          align-self: stretch;
        }
      }
    }
}
