<% @page_header = "Accounts Actions" %>

<h3>Retrieve Number of Student Accounts</h3>

<p>Use the button below to trigger query to display the number of student accounts created since July 1.</p>

<%= form_tag(get_number_of_accounts_admin_student_accounts_path, method: :put, style: 'margin: 30px 0') do %>
  <%= submit_tag 'Run Query', class: 'btn btn-primary', disable_with: "Running query..." %>
<% end %>

