host: 'accounts.openstax.org'
aws_ses_endpoint_server: 'email.us-east-1.amazonaws.com'
exceptions:
  raise: false
  contact_name: 'OpenStax Accounts'
  sender: '"Sender" <sender@example.org>'
  recipients: <%= ['recipients@example.org'] %>
