# This file is no longer used to generate secrets.yml
# You may attempt to use it to generate secrets for future environments or just delete it
production:
  # Used to encrypt and sign cookies
  # Changing this will invalidate all cookies
  secret_key_base: random(hex,80)

  # Used to create urls in emails
  email_host: "{{ hosted_zone_name }}"

  environment_name: development

  # Exception email settings
  exception:
    contact_name: OpenStax Accounts
    sender: "{{ noreply_email }}"
    recipients: "{{ notification_email }}"

  # Salesforce settings
  salesforce:
    login_domain: ssm(salesforce_login_domain)
    username: ssm(salesforce_username)
    password: ssm(salesforce_password)
    security_token: ssm(salesforce_security_token)
    consumer_key: ssm(salesforce_consumer_key)
    consumer_secret: ssm(salesforce_consumer_secret)

  # SheerID settings
  sheerid_api_secret: <%= ENV['SHEERID_API_SECRET'] || 'sheerid_api_secret' %>

  # If this timeout is exceeded, the current job is aborted
  # The job's lock also expires, allowing a new worker to start it
  background_worker_timeout: 300

  # Facebook OAuth API settings
  facebook_app_id: ssm(facebook_app_id)
  facebook_app_secret: ssm(facebook_app_secret)

  # Twitter OAuth API settings
  twitter_consumer_key: ssm(twitter_consumer_key)
  twitter_consumer_secret: ssm(twitter_consumer_secret)

  # Google OAuth API settings
  google_client_id: ssm(google_client_id)
  google_client_secret: ssm(google_client_secret)

  # Trusted hosts for redirects, CORS and loading inside an iframe
  trusted_hosts:
    - openstax.org
    - cnx.org
    - openstax.github.io
    - rdls.org
    - localhost
    - 127.0.0.1

  # Set to true to disable the corner dev/admin console
  disable_corner_console: false

  redis:
    url: "redis://{{ redis_endpoint }}"
    namespaces:
      cache: "accounts-development-cache"
      settings: "accounts-development-settings"
      jobba: "accounts-development-jobba"
      salesforce: "accounts-development-salesforce"

  aws:
    ses:
      endpoint_server: ssm(ses_endpoint)
      access_key_id: ssm(ses_access_key_id)
      secret_access_key: ssm(ses_secret_access_key)

  # Single Sign On
  sso:
    signature_private_key: "{{ sso_signature_private_key }}"
    signature_public_key: "{{ sso_signature_public_key }}"
    signature_algorithm: RS256
    encryption_private_key: c6d9b8683fddce8f2a39ac0565cf18ee
    encryption_public_key: c6d9b8683fddce8f2a39ac0565cf18ee
    encryption_algorithm: dir
    encryption_method: A256GCM
    cipher: aes-256-cbc
    iterations: 1000
    shared_secret: 265127c36133669bedcf47f326e64e22623c1be35fffe04199f0d86bf45a3485
    shared_secret_salt: ox-shared-salt
    cookie:
      old_name: ox
      name: ssm(sso_cookie_name)
      options:
        domain: "{{ hosted_zone_name }}"
        secure: true
        httponly: true
        same_site: "None"
  # The ip-api.com service gives us location data based on user IP address
  ip_api_key: ssm(the_ip_api_key)

  database:
    url: "{{ database_endpoint }}"
    port: "{{ database_port }}"
    name: "{{ database_name }}"
    username: "{{ database_username }}"
    password: "{{ database_password }}"
  sentry:
    dsn: <%= ENV['SENTRY_DSN'] %>

  cms_url: https://cms-prod.openstax.org
  openstax_url: https://openstax.org

  cms_api_url: https://cms-prod.openstax.org/apps/cms/api/

  blazer_database_url: ssm(blazer_database_url)
