# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  # Used to encrypt and sign cookies
  # Changing this will invalidate all cookies
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] ||
                       'c2d0f533e8251fdccfe1c0ba771dbf9209aaa520b6dbb5422085064fd7e4b6e5' %>

  # Used to create urls in emails
  email_host: localhost

  # Exception email settings
  exception:
    contact_name: 'OpenStax Accounts'
    sender: '"Sender" <sender@example.org>'
    recipients: 'recipients@example.org'
    environment_name: 'LOCAL DEV'

  # If this timeout is exceeded, the current job is aborted
  # The job's lock also expires, allowing a new worker to start it
  background_worker_timeout: 300

  # Facebook OAuth API settings
  facebook_app_id: my_facebook_app_id
  facebook_app_secret: my_facebook_app_secret

  # Twitter OAuth API settings
  twitter_consumer_key: my_twitter_consumer_key
  twitter_consumer_secret: my_twitter_consumer_secret

  # Google OAuth API settings
  google_client_id: my_google_client_id
  google_client_secret: my_google_client_secret

  mail_recipients:
    salesforce: 'recipients@example.org'

  # Valid urls for loading inside an iframe
  valid_iframe_origins:
    - http://localhost
    - https://cnx.org
    - https://openstax.org

  # Set to true to disable the corner dev/admin console
  disable_corner_console: false

  salesforce:
    consumer_key: my_salesforce_key
    consumer_secret: my_salesforce_secret

test:
  # Used to encrypt and sign cookies
  # Changing this will invalidate all cookies
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] ||
                       'fb1c1b629399c0ed18a89c3552955a7c378ce72a10a639df910631b702285149' %>

  # Used to create urls in emails
  email_host: localhost

  # If this timeout is exceeded, the current job is aborted
  # The job's lock also expires, allowing a new worker to start it
  background_worker_timeout: 30

  # Exception email settings
  exception:
    contact_name: 'OpenStax Accounts'
    sender: '"Sender" <sender@example.org>'
    recipients: 'recipients@example.org'
    environment_name: TEST

  mail_recipients:
    salesforce: 'recipients@example.org'

  # Valid urls for loading inside an iframe
  valid_iframe_origins:
    - http://localhost
    - https://cnx.org
    - https://openstax.org

  salesforce:
    consumer_key: my_salesforce_key
    consumer_secret: my_salesforce_secret
