development:
  # Used to encrypt and sign cookies
  # Changing this will invalidate all cookies
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] ||
                       'c2d0f533e8251fdccfe1c0ba771dbf9209aaa520b6dbb5422085064fd7e4b6e5' %>

  # Used to create urls in emails
  email_host: localhost

  environment_name: <%= ENV['ENVIRONMENT_NAME'] || 'local' %>

  # Exception email settings
  exception:
    contact_name: OpenStax customer support
    sender: '"Sender" <sender@localhost>'
    recipients: recipients@localhost

  # Salesforce settings
  salesforce:
    login_domain: <%= ENV['SALESFORCE_LOGIN_DOMAIN'] || 'test.salesforce.com' %>
    username: <%= ENV['SALESFORCE_USERNAME'] %>
    password: <%= ENV['SALESFORCE_PASSWORD'] %>
    security_token: <%= ENV['SALESFORCE_SECURITY_TOKEN'] %>
    consumer_key: <%= ENV['SALESFORCE_CONSUMER_KEY'] %>
    consumer_secret: <%= ENV['SALESFORCE_CONSUMER_SECRET'] %>

  # SheerID settings
  sheerid_api_secret: <%= ENV['SHEERID_API_SECRET'] || 'sheerid_api_secret' %>

  # If this timeout is exceeded, the current job is aborted
  # The jobs lock also expires, allowing a new worker to start it
  background_worker_timeout: 300

  # Facebook OAuth API settings
  facebook_app_id: <%= ENV['FACEBOOK_APP_ID'] || 'my_facebook_app_id' %>
  facebook_app_secret: <%= ENV['FACEBOOK_APP_SECRET'] || 'my_facebook_app_secret' %>

  # Google OAuth API settings
  google_client_id: <%= ENV['GOOGLE_CLIENT_ID'] || 'my_google_client_id' %>
  google_client_secret: <%= ENV['GOOGLE_CLIENT_SECRET'] || 'my_google_client_secret' %>

  # Trusted hosts for redirects, CORS and loading inside an iframe
  trusted_hosts:
    - openstax.org
    - cnx.org
    - openstax.github.io
    - rdls.org
    - localhost
    - 127.0.0.1

  # Set to true to disable the corner dev/admin console
  disable_corner_console: false

  redis:
    password: <%= ENV['REDIS_PASSWORD'] %>
    host: <%= ENV['REDIS_HOST'] || 'localhost' %>
    port: <%= ENV['REDIS_PORT'] %>
    db: <%= ENV['REDIS_DB'] %>
    url: <%= ENV['REDIS_URL'] %>
    namespaces:
      cache: <%= ENV['REDIS_NAMESPACES_CACHE'] || "accounts-development-cache" %>
      settings: <%= ENV['REDIS_NAMESPACES_SETTINGS'] || "accounts-development-settings" %>
      jobba: <%= ENV['REDIS_NAMESPACES_LEV'] || "accounts-development-jobba" %>
      salesforce: <%= ENV['REDIS_NAMESPACES_SALESFORCE'] || "accounts-development-salesforce" %>

  # Single Sign On
  sso:
    signature_private_key: <%= ENV['SSO_SIGNATURE_PRIVATE_KEY']&.inspect || '|
      -----BEGIN RSA PRIVATE KEY-----
      MIICXAIBAAKBgQDjvO/E8lO+ZJ7JMglbJyiF5/AeIIS2NKbIAMLBMPVBQY7mSqo6
      j/yxdVNKZCzYAMDWc/VvEfXQQJ2ipIUuDvO+SOwzMewQ70hC71hC4s3dmOSLnixD
      JlnsVpcnKPEFXloObk/fcpK2Vw27e+yY+kIFmV2XzrvTnmm9UJERp6tVTQIDAQAB
      AoGANmoPdCRehBBwrCwLdj8t/IjFo70rWInOC926qwRypUvvw/C1Kdb7jr80zoKP
      AHF1oggE7awB6ud1gsYCmFW0QSCglFbD1WcP7t/ur+x9PzH8FTY1NwxVNkC9w5de
      +yc6xkEphYVZrmprG9l76Vr6AM+bD3PYiDwqNL9gCDnLblUCQQD6DmtQaM2OxQ0r
      tNZzZiBefi5vMtVvTBPBmgqxyXQr0VjaLlJfD1/s+bcncNHAZ2n8N5m+4gRlN6qK
      wnHBr+07AkEA6Sa2L7AnOgoJWQVm7EFf5CQZwgFN6I2ItE/gueElXBfIZY7coTfH
      ab4eLvvvqFB7xgWGBFd+rf91xO2Lxrq/FwJAJ7JKTwWUPGoD4UBgGwnHcbjOXlDP
      mU+Wg1GVCQxWKO6fEGPyJ60lKVWrQdOjOMwyAxxAiBERaZAgvs6HiJwJKQJBAMbh
      nsdPHCcGKLMnSIR/v6x8nvw+4JZfJR2qhagJxjSolOkM1GcxjYlGA7lQbz7EaNCi
      JY/OkuEZ6PvzJih/ZEECQEn5DPCRf41xEmTjL6HwAOKIzDo+kJ+BPLHEQRCLZUOg
      LhHMG7xd1nlKYtJbz0hz77oWmT3bM3gVbQn06qYFCA4=
      -----END RSA PRIVATE KEY-----' %>
    signature_public_key: <%= ENV['SSO_SIGNATURE_PUBLIC_KEY']&.inspect || '|
      -----BEGIN PUBLIC KEY-----
      MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDjvO/E8lO+ZJ7JMglbJyiF5/Ae
      IIS2NKbIAMLBMPVBQY7mSqo6j/yxdVNKZCzYAMDWc/VvEfXQQJ2ipIUuDvO+SOwz
      MewQ70hC71hC4s3dmOSLnixDJlnsVpcnKPEFXloObk/fcpK2Vw27e+yY+kIFmV2X
      zrvTnmm9UJERp6tVTQIDAQAB
      -----END PUBLIC KEY-----' %>
    signature_algorithm: <%= ENV['SSO_SIGNATURE_ALGORITHM'] || 'RS256' %>
    encryption_private_key: "<%= ENV['SSO_ENCRYPTION_PRIVATE_KEY'] || 'c6d9b8683fddce8f2a39ac0565cf18ee' %>"
    encryption_public_key: "<%= ENV['SSO_ENCRYPTION_PUBLIC_KEY'] || 'c6d9b8683fddce8f2a39ac0565cf18ee' %>"
    encryption_algorithm: <%= ENV['SSO_ENCRYPTION_ALGORITHM'] || 'dir' %>
    encryption_method: <%= ENV['SSO_ENCRYPTION_METHOD'] || 'A256GCM' %>
    cipher: <%= ENV['SSO_CIPHER'] || 'aes-256-cbc' %>
    iterations: <%= ENV['SSO_ITERATIONS'] || 1000 %>
    shared_secret: <%= ENV['SSO_SHARED_SECRET'] ||
                       '265127c36133669bedcf47f326e64e22623c1be35fffe04199f0d86bf45a3485' %>
    shared_secret_salt: <%= ENV['SSO_SHARED_SECRET_SALT'] || 'ox-shared-salt' %>
    cookie:
      old_name: <%= ENV['SSO_COOKIE_OLD_NAME'] || 'ox' %>
      name: <%= ENV['SSO_COOKIE_NAME'] || 'oxa' %>
      options:
        domain: <%= ENV['SSO_COOKIE_OPTIONS_DOMAIN'] %>
        secure: <%= ActiveModel::Type::Boolean.new.cast ENV.fetch('SSO_COOKIE_SECURE', false) %>
        httponly: <%= ActiveModel::Type::Boolean.new.cast ENV.fetch('SSO_COOKIE_HTTPONLY', true) %>
        same_site: <%= ENV['SSO_COOKIE_OPTIONS_SAME_SITE'] %>

  cms_url: https://dev.openstax.org
  openstax_url: https://dev.openstax.org

  cms_api_url: https://dev.openstax.org/apps/cms/api/
  sentry:
      dsn: <%= ENV['SENTRY_DSN'] || 'invalid' %>

test:
  # Used to encrypt and sign cookies
  # Changing this will invalidate all cookies
  secret_key_base: fb1c1b629399c0ed18a89c3552955a7c378ce72a10a639df910631b702285149

  # Used to create urls in emails
  email_host: localhost

  environment_name: test

  # If this timeout is exceeded, the current job is aborted
  # The jobs lock also expires, allowing a new worker to start it
  background_worker_timeout: 30

  # Exception email settings
  exception:
    contact_name: OpenStax customer support
    sender: '"Sender" <sender@localhost>'
    recipients: recipients@localhost

  # Salesforce settings
  salesforce:
    login_domain: <%= ENV['SALESFORCE_LOGIN_DOMAIN'] || 'test.salesforce.com' %>
    username: <%= ENV['SALESFORCE_USERNAME'] || 'salesforce_username' %>
    password: <%= ENV['SALESFORCE_PASSWORD'] || 'salesforce_password' %>
    security_token: <%= ENV['SALESFORCE_SECURITY_TOKEN'] || 'salesforce_security_token' %>
    consumer_key: <%= ENV['SALESFORCE_CONSUMER_KEY'] || 'salesforce_consumer_key' %>
    consumer_secret: <%= ENV['SALESFORCE_CONSUMER_SECRET'] || 'salesforce_consumer_secret' %>

  # SheerID settings
  sheerid_api_secret: <%= ENV['SHEERID_API_SECRET'] || 'sheerid_api_secret' %>

  # Trusted hosts for redirects, CORS and loading inside an iframe
  trusted_hosts:
    - openstax.org
    - cnx.org
    - openstax.github.io
    - rdls.org
    - localhost
    - 127.0.0.1

  redis:
    password: <%= ENV['REDIS_PASSWORD'] %>
    host: <%= ENV['REDIS_HOST'] || 'localhost' %>
    port: <%= ENV['REDIS_PORT'] %>
    db: <%= ENV['REDIS_DB'] %>
    url: <%= ENV['REDIS_URL'] %>
    namespaces:
      cache: accounts-test-cache
      settings: accounts-test-settings
      jobba: accounts-test-jobba
      salesforce: accounts-test-salesforce

  # Single Sign On
  sso:
    signature_private_key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIICXAIBAAKBgQDjvO/E8lO+ZJ7JMglbJyiF5/AeIIS2NKbIAMLBMPVBQY7mSqo6
      j/yxdVNKZCzYAMDWc/VvEfXQQJ2ipIUuDvO+SOwzMewQ70hC71hC4s3dmOSLnixD
      JlnsVpcnKPEFXloObk/fcpK2Vw27e+yY+kIFmV2XzrvTnmm9UJERp6tVTQIDAQAB
      AoGANmoPdCRehBBwrCwLdj8t/IjFo70rWInOC926qwRypUvvw/C1Kdb7jr80zoKP
      AHF1oggE7awB6ud1gsYCmFW0QSCglFbD1WcP7t/ur+x9PzH8FTY1NwxVNkC9w5de
      +yc6xkEphYVZrmprG9l76Vr6AM+bD3PYiDwqNL9gCDnLblUCQQD6DmtQaM2OxQ0r
      tNZzZiBefi5vMtVvTBPBmgqxyXQr0VjaLlJfD1/s+bcncNHAZ2n8N5m+4gRlN6qK
      wnHBr+07AkEA6Sa2L7AnOgoJWQVm7EFf5CQZwgFN6I2ItE/gueElXBfIZY7coTfH
      ab4eLvvvqFB7xgWGBFd+rf91xO2Lxrq/FwJAJ7JKTwWUPGoD4UBgGwnHcbjOXlDP
      mU+Wg1GVCQxWKO6fEGPyJ60lKVWrQdOjOMwyAxxAiBERaZAgvs6HiJwJKQJBAMbh
      nsdPHCcGKLMnSIR/v6x8nvw+4JZfJR2qhagJxjSolOkM1GcxjYlGA7lQbz7EaNCi
      JY/OkuEZ6PvzJih/ZEECQEn5DPCRf41xEmTjL6HwAOKIzDo+kJ+BPLHEQRCLZUOg
      LhHMG7xd1nlKYtJbz0hz77oWmT3bM3gVbQn06qYFCA4=
      -----END RSA PRIVATE KEY-----
    signature_public_key: |
      -----BEGIN PUBLIC KEY-----
      MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDjvO/E8lO+ZJ7JMglbJyiF5/Ae
      IIS2NKbIAMLBMPVBQY7mSqo6j/yxdVNKZCzYAMDWc/VvEfXQQJ2ipIUuDvO+SOwz
      MewQ70hC71hC4s3dmOSLnixDJlnsVpcnKPEFXloObk/fcpK2Vw27e+yY+kIFmV2X
      zrvTnmm9UJERp6tVTQIDAQAB
      -----END PUBLIC KEY-----
    signature_algorithm: RS256
    encryption_private_key: c6d9b8683fddce8f2a39ac0565cf18ee
    encryption_public_key: c6d9b8683fddce8f2a39ac0565cf18ee
    encryption_algorithm: dir
    encryption_method: A256GCM
    cipher: aes-256-cbc
    iterations: 1000
    shared_secret: 54eb2d4915da54b0ab3b0486c2c4d3e6840264d415b936c663f45da4db90aa37
    shared_secret_salt: ox-shared-salt
    cookie:
      old_name: ox
      name: oxa
      options:
        secure: false
        httponly: true

  cms_url: https://dev.openstax.org
  openstax_url: https://dev.openstax.org

  cms_api_url: https://dev.openstax.org/apps/cms/api/
  sentry:
      dsn: <%= ENV['SENTRY_DSN'] || 'invalid' %>

production:
  # Used to encrypt and sign cookies
  # Changing this will invalidate all cookies
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>

  # Used to create urls in emails
  email_host: <%= ENV['EMAIL_HOST'] %>

  environment_name: <%= ENV['ENV_NAME'] %>

  # Exception email settings
  exception:
    contact_name: <%= ENV['EXCEPTION_CONTACT_NAME'] %>
    sender: <%= ENV['EXCEPTION_SENDER'] %>
    recipients: <%= ENV['EXCEPTION_RECIPIENTS'] %>

  release_version: <%= ENV['RELEASE_VERSION'] %>
  deployment_version: <%= ENV['DEPLOYMENT_VERSION'] %>

  # Salesforce settings
  salesforce:
    login_domain: <%= ENV['SALESFORCE_LOGIN_DOMAIN'] %>
    username: <%= ENV['SALESFORCE_USERNAME'] %>
    password: <%= ENV['SALESFORCE_PASSWORD'] %>
    security_token: <%= ENV['SALESFORCE_SECURITY_TOKEN'] %>
    consumer_key: <%= ENV['SALESFORCE_CONSUMER_KEY'] %>
    consumer_secret: <%= ENV['SALESFORCE_CONSUMER_SECRET'] %>

  # SheerID settings
  sheerid_api_secret: <%= ENV['SHEERID_API_SECRET'] %>

  # If this timeout is exceeded, the current job is aborted
  # The job's lock also expires, allowing a new worker to start it
  background_worker_timeout: <%= ENV.fetch('BACKGROUND_WORKER_TIMEOUT', 300).to_i %>

  # Facebook OAuth API settings
  facebook_app_id: <%= ENV['FACEBOOK_APP_ID'] %>
  facebook_app_secret: <%= ENV['FACEBOOK_APP_SECRET'] %>

  # Twitter OAuth API settings
  twitter_consumer_key: <%= ENV['TWITTER_CONSUMER_KEY'] %>
  twitter_consumer_secret: <%= ENV['TWITTER_CONSUMER_SECRET'] %>

  # Google OAuth API settings
  google_client_id: <%= ENV['GOOGLE_CLIENT_ID'] %>
  google_client_secret: <%= ENV['GOOGLE_CLIENT_SECRET'] %>

  # Trusted hosts for redirects, CORS and loading inside an iframe
  trusted_hosts: <%= ENV['TRUSTED_HOSTS'] %>

  # Set to true to disable the corner dev/admin console
  disable_corner_console: <%= ActiveModel::Type::Boolean.new.cast(
    ENV.fetch 'DISABLE_CORNER_CONSOLE', false
  ) %>

  redis:
    password: <%= ENV['REDIS_PASSWORD'] %>
    host: <%= ENV['REDIS_HOST'] %>
    port: <%= ENV['REDIS_PORT'] %>
    db: <%= ENV['REDIS_DB'] %>
    url: <%= ENV['REDIS_URL'] %>
    namespaces:
      cache: <%= ENV['REDIS_NAMESPACES_CACHE'] %>
      settings: <%= ENV['REDIS_NAMESPACES_SETTINGS'] %>
      jobba: <%= ENV['REDIS_NAMESPACES_JOBBA'] %>
      salesforce: <%= ENV['REDIS_NAMESPACES_SALESFORCE'] %>

  aws:
    ses:
      endpoint_server: <%= ENV['AWS_SES_ENDPOINT_SERVER'] %>
      access_key_id: <%= ENV['AWS_SES_ACCESS_KEY_ID'] %>
      secret_access_key: <%= ENV['AWS_SES_SECRET_ACCESS_KEY'] %>

  # Single Sign On
  sso:
    signature_private_key: <%= ENV['SSO_SIGNATURE_PRIVATE_KEY']&.inspect %>
    signature_public_key: <%= ENV['SSO_SIGNATURE_PUBLIC_KEY']&.inspect %>
    signature_algorithm: <%= ENV['SSO_SIGNATURE_ALGORITHM'] %>
    encryption_private_key: <%= ENV['SSO_ENCRYPTION_PRIVATE_KEY'] %>
    encryption_public_key: <%= ENV['SSO_ENCRYPTION_PUBLIC_KEY'] %>
    encryption_algorithm: <%= ENV['SSO_ENCRYPTION_ALGORITHM'] %>
    encryption_method: <%= ENV['SSO_ENCRYPTION_METHOD'] %>
    cipher: <%= ENV['SSO_CIPHER'] %>
    iterations: <%= ENV['SSO_ITERATIONS'] %>
    shared_secret: <%= ENV['SSO_SHARED_SECRET'] %>
    shared_secret_salt: <%= ENV['SSO_SHARED_SECRET_SALT'] %>
    cookie:
      old_name: <%= ENV['SSO_COOKIE_OLD_NAME'] %>
      name: <%= ENV['SSO_COOKIE_NAME'] %>
      options:
        domain: <%= ENV['SSO_COOKIE_OPTIONS_DOMAIN'] %>
        secure: <%= ActiveModel::Type::Boolean.new.cast ENV.fetch('SSO_COOKIE_SECURE', true) %>
        httponly: <%= ActiveModel::Type::Boolean.new.cast ENV.fetch('SSO_COOKIE_HTTPONLY', true) %>
        same_site: <%= ENV['SSO_COOKIE_OPTIONS_SAME_SITE'] %>

  sentry:
    dsn: <%= ENV['SENTRY_DSN'] %>

  cms_url: <%= ENV['CMS_URL'] %>
  cms_api_url: <%= ENV['CMS_API_URL'] %>
  openstax_url: <%= ENV['OPENSTAX_URL'] %>

  blazer_database_url: <%= ENV['BLAZER_DATABASE_URL'] %>
