# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  # Used to encrypt and sign cookies
  # Changing this will invalidate all cookies
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] ||
                       'c2d0f533e8251fdccfe1c0ba771dbf9209aaa520b6dbb5422085064fd7e4b6e5' %>

  # Used to create urls in emails
  email_host: localhost

  environment_name: development

  # Exception email settings
  exception:
    contact_name: OpenStax Accounts
    sender: '"Sender" <sender@localhost>'
    recipients: recipients@localhost

  # Salesforce settings
  salesforce:
    consumer_key: <%= ENV["SALESFORCE_CONSUMER_KEY"] || 'my_salesforce_key' %>
    consumer_secret: <%= ENV["SALESFORCE_CONSUMER_SECRET"] || 'my_salesforce_secret' %>
    login_site: <%= ENV["SALESFORCE_LOGIN_SITE"] || 'https://test.salesforce.com' %>
    mail_recipients: recipients@localhost

  # If this timeout is exceeded, the current job is aborted
  # The job's lock also expires, allowing a new worker to start it
  background_worker_timeout: 300

  # Facebook OAuth API settings
  facebook_app_id: my_facebook_app_id
  facebook_app_secret: my_facebook_app_secret

  # Twitter OAuth API settings
  twitter_consumer_key: my_twitter_consumer_key
  twitter_consumer_secret: my_twitter_consumer_secret

  # Google OAuth API settings
  google_client_id: my_google_client_id
  google_client_secret: my_google_client_secret

  # Trusted hosts for redirects, CORS and loading inside an iframe
  trusted_hosts:
    - openstax.org
    - cnx.org
    - openstax.github.io
    - rdls.org
    - localhost
    - 127.0.0.1

  # Set to true to disable the corner dev/admin console
  disable_corner_console: false

  redis:
    url: <%= ENV["REDIS_URL"] || 'redis://localhost:6379/0' %>
    namespaces:
      cache: <%= ENV["REDIS_NAMESPACES_CACHE"] || "accounts-development-cache" %>
      settings: <%= ENV["REDIS_NAMESPACES_SETTINGS"] || "accounts-development-settings" %>
      jobba: <%= ENV["REDIS_NAMESPACES_LEV"] || "accounts-development-jobba" %>
      salesforce: <%= ENV["REDIS_NAMESPACES_SALESFORCE"] || "accounts-development-salesforce" %>

  # Single Sign On
  sso:
    shared_secret: <%= ENV["SSO_SHARED_SECRET"] ||
                       '265127c36133669bedcf47f326e64e22623c1be35fffe04199f0d86bf45a3485' %>
    cookie:
      name: <%= ENV["SSO_COOKIE_NAME"] || 'ox' %>
      options:
        domain: <%= ENV["SSO_COOKIE_DOMAIN"] || "''" %>
        secure: <%= ActiveRecord::Type::Boolean.new.type_cast_from_user ENV.fetch(
                      "SSO_COOKIE_SECURE", false
                    ) %>
        httponly: <%= ActiveRecord::Type::Boolean.new.type_cast_from_user ENV.fetch(
                        "SSO_COOKIE_HTTPONLY", true
                      ) %>

test:
  # Used to encrypt and sign cookies
  # Changing this will invalidate all cookies
  secret_key_base: fb1c1b629399c0ed18a89c3552955a7c378ce72a10a639df910631b702285149

  # Used to create urls in emails
  email_host: localhost

  environment_name: test

  # If this timeout is exceeded, the current job is aborted
  # The job's lock also expires, allowing a new worker to start it
  background_worker_timeout: 30

  # Exception email settings
  exception:
    contact_name: OpenStax Accounts
    sender: '"Sender" <sender@localhost>'
    recipients: recipients@localhost

  # Salesforce settings
  salesforce:
    consumer_key: <%= ENV["SALESFORCE_CONSUMER_KEY"] || 'my_salesforce_key' %>
    consumer_secret: <%= ENV["SALESFORCE_CONSUMER_SECRET"] || 'my_salesforce_secret' %>
    login_site: <%= ENV["SALESFORCE_LOGIN_SITE"] || 'https://test.salesforce.com' %>
    mail_recipients: recipients@localhost
    tutor_specs_oauth_token: <%= ENV["SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN"] || 'tutor_specs_oauth_token' %>
    tutor_specs_refresh_token: <%= ENV["SALESFORCE_TUTORSPECS_USER_REFRESH_TOKEN"] || 'tutor_specs_refresh_token' %>
    tutor_specs_instance_url: <%= ENV["SALESFORCE_TUTORSPECS_USER_INSTANCE_URL"] || 'https://cs90.salesforce.com' %>

  # Trusted hosts for redirects, CORS and loading inside an iframe
  trusted_hosts:
    - openstax.org
    - cnx.org
    - openstax.github.io
    - rdls.org
    - localhost
    - 127.0.0.1

  redis:
    url: <%= ENV["REDIS_URL"] || 'redis://localhost:6379/0' %>
    namespaces:
      cache: accounts-test-cache
      settings: accounts-test-settings
      jobba: accounts-test-jobba
      salesforce: accounts-test-salesforce

  # Single Sign On
  sso:
    shared_secret: 54eb2d4915da54b0ab3b0486c2c4d3e6840264d415b936c663f45da4db90aa37
    cookie:
      name: ox
      options:
        domain: ''
        secure: true
        httponly: true
