# Secret token
# The default value will error out if you try to open any page
# Change it to something very long and completely random
secret_token: my_secret_token_must_be_thirty_characters_or_else_blows_up

environment_name: 'LOCAL DEV'

# SMTP relay settings
smtp_settings:
  address: localhost
  port: 25

  # Your HELO domain
  #domain: localhost.localdomain

  user_name: my_stmp_relay_username
  password: my_stmp_relay_password
  # Authentication can be login, plain or cram_md5
  authentication: plain

  enable_starttls_auto: true
  #openssl_verify_mode: ~
  #ssl: ~
  #tls: ~

# Closed beta settings
# Set beta_protection to true to enable the closed beta
beta_protection: false
beta_username: ~
beta_password: ~

# Facebook OAuth API settings
facebook_app_id: my_facebook_app_id
facebook_app_secret: my_facebook_app_secret

# Twitter OAuth API settings
twitter_consumer_key: my_twitter_consumer_key
twitter_consumer_secret: my_twitter_consumer_secret

# Google OAuth API settings
google_client_id: my_google_client_id
google_client_secret: my_google_client_secret

exception:
  contact_name: 'OpenStax Accounts'
  sender: '"Sender" <sender@example.org>'
  recipients: 'recipients@example.org'

valid_iframe_origins:
  - http://localhost
  - https://cnx.org
  - https://openstax.org
