---
http_interactions:
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v37.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"FirstName":"Kolby","LastName":"Mueller_unique_token","Email":"f@f.com","AccountId":"0013B000009vJrCQAU"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=67/48000
      Location:
      - "/services/data/v37.0/sobjects/Contact/0033B00000AgLRpQAN"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0033B00000AgLRpQAN","success":true,"errors":[]}'
  recorded_at: Wed, 22 Feb 2017 01:32:14 GMT
[...]
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v37.0/query?q=SELECT%20Id,%20Email,%20Email_alt__c,%20Faculty_Verified__c%20FROM%20Contact%20WHERE%20(LastName%20LIKE%20%27%25_unique_token%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=69/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v37.0/sobjects/Contact/0033B00000AgLRpQAN"},"Id":"0033B00000AgLRpQAN","Email":"f@f.com","Email_alt__c":null,"Faculty_Verified__c":null},{"attributes":{"type":"Contact","url":"/services/data/v37.0/sobjects/Contact/0033B00000AgLRuQAN"},"Id":"0033B00000AgLRuQAN","Email":"f@f.com","Email_alt__c":null,"Faculty_Verified__c":null}]}'
  recorded_at: Wed, 22 Feb 2017 01:32:17 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v37.0/query?q=SELECT%20Id,%20Email%20FROM%20Lead%20WHERE%20(LastName%20LIKE%20%27%25_unique_token%27)%20AND%20(LeadSource%20=%20%27OSC%20Faculty%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=66/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Wed, 22 Feb 2017 01:32:17 GMT
recorded_with: VCR 3.0.3
