<div class="ox-card reset-password">
  <h1 class="title"><%= t :".page_heading" %></h1>

  <p><%= t :".message" %></p>

  <%= link_to (t :".continue"), password_continue_path %>. <%# TODO style link like a button %>
</div>
