<%= ox_card(heading: (t :".page_heading")) do %>

  <p><%= (t :".we_sent_email",
            emails: @handler_result.outputs
                                   .email_addresses
                                   .map{|em| "<b>#{em}</b>"}
                                   .to_sentence).html_safe %></p>

  <p><%= t :".close_this_window" %></p>

<% end %>
