<%= osu.section_block "Links" do %>

<ul class="normal">
  <li><%= link_to "API Documentation", api_path %></li>
  <li><%= link_to "OAuth Applications (Doorkeeper)", oauth_applications_path %></li>
</ul>

<% end %>
