<%# Renderer's of this partial can direct the form's target with 'override_search_path' %>

<%= lev_form_for :search, 
                 url: (override_search_path ||= admin_users_path), 
                 remote: true,
                 method: :get,
                 html: {class: 'form-inline'} do |f| %>

  Search for 
  <%= f.search_field :terms, style: 'width:500px;', class: 'form-control' %> 

  <%= f.submit 'Search', class: 'btn btn-primary' %>

<% end %>

<div id="search-results-list"></div>