---
http_interactions:
- request:
    method: get
    uri: https://services.sheerid.com/rest/v2/verification/5ef42cfaeddfdd1bd961c088/details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <sheerid_api_secret>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"programId":"5e150b86ce2a5a1d94874660","trackingId":null,"created":1593060602978,"updated":1593060611778,"lastResponse":{"verificationId":"5ef42cfaeddfdd1bd961c088","currentStep":"success","errorIds":[],"segment":"teacher","subSegment":null,"locale":"en-US","rewardCode":"EXAMPLE-CODE"},"personInfo":{"firstName":"Bryan47dev","lastName":"Dimas","email":"bed1+bryan47dev@rice.edu","birthDate":null,"deviceFingerprintHash":null,"phoneNumber":null,"country":null,"locale":"en-US","metadata":{"marketConsentValue":"false"},"organization":{"id":2681,"name":"Rice
        University (Houston, TX)"},"postalCode":"77005","ipAddress":"73.155.240.73"},"docUploadRejectionCount":0,"docUploadRejectionReasons":[]}'
  recorded_at: Tue, 30 Jun 2020 18:36:45 GMT
recorded_with: VCR 3.0.3
