---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=<tutor_specs_refresh_token>&client_id=my_salesforce_key&client_secret=my_salesforce_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"unsupported_grant_type","error_description":"grant type not
        supported"}'
  recorded_at: Mon, 15 May 2017 22:12:52 GMT
- request:
    method: post
    uri: "<tutor_specs_instance_url>/services/data/v37.0/sobjects/Lead"
    body:
      encoding: UTF-8
      string: '{"FirstName":"Bob","LastName":"Armstrong","Subject__c":"Biology;Macro
        Econ","Company":"Rice University","Phone":"634-5789","Website":"http://www.ece.rice.edu/boba","Email":"bob@bob.edu","LeadSource":"OSC
        Faculty","Newsletter__c":true,"Newsletter_Opt_In__c":true,"Adoption_Status__c":"Confirmed
        Adoption Won","Number_of_Students__c":30,"OS_Accounts_ID__c":17}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=10/48000
      Location:
      - "/services/data/v37.0/sobjects/Lead/00Q0S000001OkYXUA0"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00Q0S000001OkYXUA0","success":true,"errors":[]}'
  recorded_at: Mon, 15 May 2017 22:23:11 GMT
- request:
    method: get
    uri: "<tutor_specs_instance_url>/services/data/v37.0/query?q=SELECT%20Id,%20Name,%20FirstName,%20LastName,%20Salutation,%20Subject__c,%20Company,%20Phone,%20Website,%20Status,%20Email,%20LeadSource,%20Newsletter__c,%20Newsletter_Opt_In__c,%20Adoption_Status__c,%20Number_of_Students__c,%20OS_Accounts_ID__c%20FROM%20Lead%20WHERE%20(Id%20=%20%2700Q0S000001OkYXUA0%27)%20LIMIT%201"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=7/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Lead","url":"/services/data/v37.0/sobjects/Lead/00Q0S000001OkYXUA0"},"Id":"00Q0S000001OkYXUA0","Name":"Bob
        Armstrong","FirstName":"Bob","LastName":"Armstrong","Salutation":null,"Subject__c":"Biology;Macro
        Econ","Company":"Rice University","Phone":"634-5789","Website":"http://www.ece.rice.edu/boba","Status":"Needs
        School","Email":"bob@bob.edu","LeadSource":"OSC Faculty","Newsletter__c":true,"Newsletter_Opt_In__c":true,"Adoption_Status__c":"Confirmed
        Adoption Won","Number_of_Students__c":30.0,"OS_Accounts_ID__c":"17"}]}'
  recorded_at: Mon, 15 May 2017 22:23:11 GMT
recorded_with: VCR 3.0.3
