---
http_interactions:
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v37.0/sobjects/Lead
    body:
      encoding: UTF-8
      string: '{"LastName":"Yundt_unique_token","Company":"JP University","Email":"f@f.com","LeadSource":"OSC
        Faculty"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=64/48000
      Location:
      - "/services/data/v37.0/sobjects/Lead/00Q3B000004EJjxUAG"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00Q3B000004EJjxUAG","success":true,"errors":[]}'
  recorded_at: Wed, 22 Feb 2017 01:31:55 GMT
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v37.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"FirstName":"Jada","LastName":"Dicki_unique_token","Email":"f@f.com","Faculty_Verified__c":"Confirmed","AccountId":"0013B000009vJrCQAU"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=62/48000
      Location:
      - "/services/data/v37.0/sobjects/Contact/0033B00000AgLEMQA3"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0033B00000AgLEMQA3","success":true,"errors":[]}'
  recorded_at: Wed, 22 Feb 2017 01:31:57 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v37.0/query?q=SELECT%20Id,%20Email,%20Email_alt__c,%20Faculty_Verified__c%20FROM%20Contact%20WHERE%20(LastName%20LIKE%20%27%25_unique_token%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=64/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v37.0/sobjects/Contact/0033B00000AgLEMQA3"},"Id":"0033B00000AgLEMQA3","Email":"f@f.com","Email_alt__c":null,"Faculty_Verified__c":"Confirmed"}]}'
  recorded_at: Wed, 22 Feb 2017 01:31:57 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v37.0/query?q=SELECT%20Id,%20Email%20FROM%20Lead%20WHERE%20(LastName%20LIKE%20%27%25_unique_token%27)%20AND%20(LeadSource%20=%20%27OSC%20Faculty%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=67/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Lead","url":"/services/data/v37.0/sobjects/Lead/00Q3B000004EJjxUAG"},"Id":"00Q3B000004EJjxUAG","Email":"f@f.com"}]}'
  recorded_at: Wed, 22 Feb 2017 01:31:58 GMT
recorded_with: VCR 3.0.3
