<% content_for :head do %>
  <%= javascript_include_tag "profile" %>
<% end %>

<div class="account-layout">
  <%= render 'account/navigation' %>
  <div class="account-layout__content">
    <%= render(
          'shared/account_layout_shell',
          locals: { title: @account_shell_title, description: @account_shell_description }
        ) do %>
      <%= render 'shared/account_security_section', account_shell: true %>
    <% end %>
  </div>
</div>
