---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<salesforce_consumer_key>&client_secret=<salesforce_consumer_secret>&username=<salesforce_username_url>&password=<salesforce_password_url><salesforce_security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<salesforce_access_token>","instance_url":"<salesforce_instance_url>","id":"<salesforce_id>","token_type":"Bearer","issued_at":"1642803206055","signature":"<salesforce_signature>"}'
  recorded_at: Fri, 21 Jan 2022 22:13:26 GMT
- request:
    method: get
    uri: "<salesforce_instance_url>/services/data/v51.0/query?q=SELECT%20Id,%20Name,%20BillingCity,%20BillingState,%20BillingCountry,%20Type,%20School_Location__c,%20SheerID_School_Name__c,%20K_I_P__c,%20child_of_kip__c%20FROM%20Account%20WHERE%20(RecordType.Name%20=%20%27School%27)%20AND%20(Name%20IN%20(%27JP%20University%27))"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <salesforce_access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=7400/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Fri, 21 Jan 2022 22:13:26 GMT
- request:
    method: post
    uri: "<salesforce_instance_url>/services/data/v51.0/sobjects/Account"
    body:
      encoding: UTF-8
      string: '{"Name":"JP University"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <salesforce_access_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=7400/5000000
      Location:
      - "/services/data/v51.0/sobjects/Account/0014C00000etq0uQAA"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0014C00000etq0uQAA","success":true,"errors":[]}'
  recorded_at: Fri, 21 Jan 2022 22:13:27 GMT
recorded_with: VCR 3.0.3
