@import "bootstrap";
@import "font-awesome";

.underlined-spaced-row {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-bottom: 20px
}

body.admin {
  .user-search-help {
    float: right;
    margin-top: -16px;
    font-size: 10px;
    margin-bottom: 10px;
  }

  nav.navbar {
    a {
      padding-left: 10px;
      padding-right: 10px;
    }

    &.production {
      border-bottom: 2px solid red;
    }
  }
}

#search-results-list {
  width: 100%;

  td {
    padding: 3px;
  }
  th {
    // background-color: #ddd;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  }

  th.expand {
    width: 40px;
  }

  a.expand {
    padding-left: 8px;
  }

  tr {
    &.even {
      td {
        background-color: #eee;
      }
    }

    &.details {
      display: none;
      font-size: 12px;
      td {
        padding-top: 5px;
        padding-bottom: 10px;
      }
    }
  }

  .admin {
    color: red;
  }

  .btn {
    border: 0px solid transparent;
  }

  .user-search-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 0px;
  }

  .created i, .updated i {
    display: inline-block;
    width: 55px;
  }

}

#new-search-results-pagination {
  clear: both;
  margin: 20px 0;
  color: #aaa;
  .count {
    float: right;
  }
  .pages {
    float: right;
    .btn {
      color: #aaa;
      &.hover {
        color: black;
      }
    }
  }
}

#pre_auth_states {
  .searches {
    float: right;
    margin-bottom: 10px;
  }

  .desc {
    clear: both;
  }

  .entry {
    border: 1px solid #ddd;
    background-color: #eee;
    margin: 10px 0px;
    padding: 8px;

    .token {
      font-size: 9px;
    }
  }



}
