@import "bootstrap";
@import "common_colors";
@import "admin_navbar";
@import "font-awesome";

.underlined-spaced-row {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-bottom: 20px
}

nav.navbar.production {
  border-bottom: 2px solid red;
}


body.admin {
  .user-search-help {
    float: right;
    margin-top: -16px;
    font-size: 10px;
    margin-bottom: 10px;
  }
}

#search-results-list {
  width: 100%;

  td {
    padding: 3px;
  }
  th {
    // background-color: #ddd;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  }

  th.expand {
    width: 40px;
  }

  a.expand {
    padding-left: 8px;
  }

  tr {
    &.even {
      td {
        background-color: #eee;
      }
    }

    &.details {
      display: none;
      font-size: 12px;
      td {
        padding-top: 5px;
        padding-bottom: 10px;
      }
    }
  }

  .admin {
    color: red;
  }

  .btn {
    border: 0 solid transparent;
  }

  .user-search-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 0;
  }

  .created i, .updated i {
    display: inline-block;
    width: 55px;
  }

}

#search-results-pagination {
  clear: both;
  margin: 20px 0;
  color: #aaa;
  .count {
    float: right;
  }
  .pages {
    float: right;
    .btn {
      color: #aaa;
      &.hover {
        color: black;
      }
    }
  }
}
