@import "common_colors";
@import "common_colors_newflow";
@import "common_dimensions";

$os_font_family: 'HelveticaNeue', 'Helvetica Neue', Arial, sans-serif;
$os-section-spacing: 30px;

$os_heading_font_family: 'HelveticaNeue', 'Helvetica Neue', 'Helvetica Neue', Arial, sans-serif;
