:root {
  --white: #ffffff;
  --greyish-brown: #424242;
  --turquoise-blue: #0dc0dc;
  --pumpkin: #eb9300;
  --hot-purple: #d000eb;
  --turquoise-green: #00eb88;
  --hot-pink: #eb008b;
  --aqua-blue: #00c1de;
  --sunflower-yellow: #fbd005;
  --very-light-pink: #e5e5e5;
  --white-two: #fafafa;

  --placeholder-text: #6f6f6f;
  --input-error-background-color: #f8e8ea;
  --input-error-border-color: #c22032;
  --input-error-message-color: #c22032;
}
