body.condensed {

  background: white;

  #application-header,
  #application-footer,
  #upper-corner-console,
  .sign-out {
    display: none;
  }
  #application-container {
    margin: 0;
    padding: 0;
    background: white;
  }
  #application-body {
    margin: 0;
    padding: 0;
  }
  .ox-card {
    width: 100%;
    max-width: 100%;
    background: white;
  }

}
