body.faculty_access.apply,
body.faculty_access.pending {

  .edu.warning { display: none; }

  #role-dependent-fields {
    display: none;
    overflow: hidden;
    margin-top: 0px;
  }

  .ox-card h3 {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  @import "controls/subjects_multi_select";

  .newsletter {
    margin: 30px 0px 30px;
  }

  .agree {
    margin-bottom: 16px;
  }

  .checkbox {
    input {
      margin-top: 2px;
    }
  }

}
