body.iframe {

  #application-container {
    width: 100%;
  }

  #upper-corner-console,
  #top-nav-frame {
    display: none;
  }

  #application-body {
    margin: 5px;
    min-height: 250px;
  }
  #page-heading {
    padding: 0;
  }

  //signup page
  #signup-alternatives {
    float: inherit;
    width: 80%;
    margin: 0 auto 20px auto;
  }
  #identity-register {
    float: inherit;
    margin: 0 auto 20px auto;
  }

  .new-login {
    display: flex;
    justify-content: space-around;
    .login-explanation { order: 1; }
    .login-options{ order: 2; }
  }


  // Page that asks if account is new after a third party login
  .new-or-returning {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .left { order: 1; }
    .middle-space {
      order: 2;
      display: flex !important; // inline-block is set as style attribute
      flex-direction: column;
      align-self: stretch;
      margin: 0;
      .or-bar {
        height: inherit;
        flex: 1;
        margin: 0;
        .or-text {
          left: -25px;
          top: 50%;
        }
      }
    }
    .right { order: 3; }
  }
}
