#signin-help {
  form {
    margin-top: 30px;
  }
}

#reset-password {
  form {
    margin-top: 30px;
  }
}

.text-nowrap {
  white-space: nowrap;
}

form.full-width {
  input[type=text],
  select {
    width: 100%;
  }
}
