:root {
    --white: #ffffff;
    --greyish-brown: #424242;
    --turquoise-blue: #00C1DE;
    --aqua-blue: #00c1de;
    --very-light-pink: #e5e5e5;
    --white-two: #fafafa;

    --placeholder-text: #6A6A6A;
    --os-text-on-tint: #424242;
    --input-error-background-color: #FFF5F0;
    --input-error-border-color: #D4450C;
    --input-error-message-color: #D4450C;

    --success-background-color: #eaf5e2;
    --success-border-color: #d6e9c4;
    --success-message-color: #204B00;
}
