@import "font-awesome";
@import "pattern-library";

html {
    // font-family: 'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
    font-family: 'ArialMT', 'Arial';
}

body {
    background-color: #fff;
}

.main-menu {
    box-shadow: none;
    height: 4.6em;

    .logo-wrapper {
         @include width-up-to($phone-max) {
            margin: auto;
        }
    }
}

.content form, form.content {
    background-color: white;
}

// sign in/up form
#signinup-form {
    max-width: 75rem;
    border-top: 0;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;

    form {
        border-color: #d5d5d5;
        border-style: solid;
        border-width: 0.1rem;
        border-top: 0;

        h1 {
            font-size: 36px;
            margin-left: auto;
            margin-right: auto;
        }

        label {
            font-weight: bold;
        }
    }

    .divider {
        font-weight: bold;
        font-size: 12px;
        text-align: center;
    }

    .tab-group {
        padding: 0;
    }

    .tab {
        border-bottom: 0.1rem solid #d5d5d5;
        width: 172px;
        height: 51px;
        padding: 0;
        border-style: solid;
        border-color: #d5d5d5;
        border-width: 0.1rem;

        &:first-child {
            border-right: 0;
        }

        &.active {
            border-bottom-width: 0;
            border-bottom-color: #fff;
        }

        &.inactive {
            background-color: #f6f8fa;
        }
    }

    .tab.tab--placeholder {
        border: 0;
        border-bottom: 0.1rem solid #d5d5d5;
        background-color: #fff; // TODO: same as html or body background color OR transparent
    }

    [type="submit"] {
        width: 172px;
    }

    [type="checkbox"] {
        height: auto;
    }
}

// temporary styling for the social buttons until the styling is added to the pattern-library
.btn-facebook {
    background-color: #3b5998;
    color: white;
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
}
