@import "pattern-library";
@import "font-awesome";
@import "newflow_colors";

html {
    font-family: 'Helvetica Neue';
}

body {
    @include width-up-to($phone-max) {
        .content {
            padding-left: 0;
            padding-right: 0;
        }
    }

    background-color: #fff;
    color: var(--greyish-brown);
}

.main-menu {
    box-shadow: none;
    height: 4.6em;

    .logo-wrapper {
         @include width-up-to($phone-max) {
            margin: auto;
        }
    }
}

.content form, form.content {
    background-color: white;
}

// sign in/up form
#signinup-form {
    max-width: 75rem;
    border-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;

    form {
        @include width-up-to($phone-max) {
            padding-left: 1em;
            padding-right: 1em;
        }

        border-color: #d5d5d5;
        border-style: solid;
        border-width: 0.1rem;
        border-top: 0;

        > .content {
            max-width: 555px;
            margin-left: auto;
            margin-right: auto;
        }

        .role-section {
            max-width: 100%;

            > div {
                @include width-up-to($phone-max) {
                    display: grid;
                    grid-template-columns: 3.5rem 1fr;
                    align-items: center;
                }

                @include wider-than($tablet-max) {
                    display: inline;
                }

                // max-width: 555px;
            }
        }

        // placeholder text
        [type=text], [type=email], [type=password] {
            color: var(--placeholder-text);
            font-weight: 300;
        }

        .role-button {
            @include width-up-to($phone-max) {
                letter-spacing: -0.72px;
                line-height: 2;
                margin-right: 3.5rem;
                font-size: 1.8rem;
                height: 3.5rem;
            }

            @include width-between($phone-max, $tablet-max) {
                margin-left: 38px;
            }

            @include wider-than($phone-max) {
                width: 82%;
                margin-left: 1.98em;
                // margin-right: 9.7rem; // this is not applying
                line-height: 2.08;
                font-size: 2.4rem;
                height: 5rem;
            }

            max-width: 555px;
            padding-left: 0;
            padding-right: 0;

            text-align: center;
            letter-spacing: -0.96px;
            font-weight: bold;
            color: #c1c1c1;
        }

        .back-arrow {
            display: inline-block;

            @include width-up-to($phone-max) {
                text-align: right;
                margin-right: 1rem;
            }
        }

        h1 {
            @include width-up-to($phone-max) {
                font-size: 18px;
            }

            font-size: 2em;
            text-align: center;
            letter-spacing: -0.72px;
            line-height: 1.67;
        }

        label {
            font-weight: bold;
            color: var(--greyish-brown);
        }
    }

    .divider {
        font-weight: bold;
        font-size: 12px;
        text-align: center;
    }

    .tab-group {
        padding: 0;
    }

    .tab {
        @include width-up-to($phone-max) {
            width: 50%;
        }

        border-bottom: 0.1rem solid #d5d5d5;
        width: 150px;
        padding: 1.2rem 0;
        border-style: solid;
        border-color: #d5d5d5;
        border-width: 0.1rem;
        font-size: 1.8rem;
        font-weight: 700;

        &:first-child {
            border-right: 0;
        }

        &.active {
            border-bottom-width: 0;
            border-bottom-color: #fff;
        }

        &.inactive {
            background-color: #f6f8fa;
        }
    }

    .tab.tab--placeholder {
        @include width-up-to($phone-max) {
            display: none;
        }

        border: 0;
        border-bottom: 0.1rem solid #d5d5d5;
        background-color: #fff; // TODO: same as html or body background color OR transparent
    }

    [type="submit"] {
        width: 172px;
    }

    [type="checkbox"] {
        height: auto;
    }
}

// temporary styling for the social buttons until the styling is added to the pattern-library
.btn-facebook {
    background-color: #3b5998;
    color: white;
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
}
