@import "pattern-library";
@import "font-awesome";
@import "newflow_colors";

html {
    font-family: 'Helvetica Neue';
}

body {
    @include width-up-to($phone-max) {
        .content {
            padding-left: 0;
            padding-right: 0;
        }
    }

    background-color: #fff;
    color: var(--greyish-brown);
}

.main-menu {
    box-shadow: none;
    height: 2rem;
    margin-top: 0.8rem;


    .logo-wrapper {
         @include width-up-to($phone-max) {
            margin: auto;
        }
    }
}

.content form, form.content {
    background-color: white;
}

// sign in/up form
#signinup-form {
    max-width: 75rem;
    border-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-top: 4rem;
    padding-left: 14px;
    padding-right: 14px;

    .tab-group {
        padding: 0;

        .tab {
            @include width-up-to($phone-max) {
                width: 50%;
            }

            width: 150px;
            font-size: 1.8rem;
            font-weight: 700;

            border-bottom: 0.1rem solid #d5d5d5;
            padding: 1.2rem 0;
            border-style: solid;
            border-color: #d5d5d5;
            border-width: 0.1rem;

            &:first-child {
                border-right: 0;
            }

            &.active {
                border-bottom-width: 0;
                border-bottom-color: #fff;
            }

            &.inactive {
                background-color: #f6f8fa;
            }
        }

        .tab.tab--placeholder {
            @include width-up-to($phone-max) {
                display: none;
            }

            cursor: default;
            border: 0;
            border-bottom: 0.1rem solid #d5d5d5;
            background-color: #fff; // TODO: same as html or body background color OR transparent
        }
    }

    form {
        @include width-up-to($phone-max) {
            padding-left: 1.4rem;
            padding-right: 1.4rem;
            padding-top: 1.6rem;
        }

        border-color: #d5d5d5;
        border-style: solid;
        border-width: 0.1rem;
        border-top: 0;
        border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem;

        h1 {
            @include width-up-to($phone-max) {
                font-size: 18px;
            }

            font-size: 2em;
            text-align: center;
            letter-spacing: -0.72px;
            line-height: 1.67;
        }

        > .content {
            max-width: 555px;
            margin-left: auto;
            margin-right: auto;
        }

        .role-section {
            max-width: 100%;

            > div {
                @include width-up-to($phone-max) {
                    display: grid;
                    grid-template-columns: 3.5rem 1fr;
                    align-items: center;
                }

                @include wider-than($tablet-max) {
                    display: inline;
                }
            }
        }

        .back-arrow {
            display: inline-block;

            @include width-up-to($phone-max) {
                text-align: right;
                margin-right: 1rem;
            }
        }

        .role-button {
            @include width-up-to($phone-max) {
                letter-spacing: -0.72px;
                line-height: 2;
                margin-right: 3.5rem;
                font-size: 1.8rem;
                height: 3.5rem;
            }

            @include width-between($phone-max, $tablet-max) {
                margin-left: 38px;
                width: 85%;
            }

            @include wider-than($tablet-max) {
                width: 100%;
                height: 5rem;
                margin-left: 1.56em;
                line-height: 2.08;
            }

            max-width: 555px;
            padding-left: 0;
            padding-right: 0;

            font-size: 2.4rem;
            text-align: center;
            letter-spacing: -0.96px;
            font-weight: bold;
            color: #c1c1c1;
        }

        label {
            font-weight: bold;
            color: var(--greyish-brown);
        }

        // placeholder text
        [type=text], [type=email], [type=password] {
            color: var(--placeholder-text);
            font-weight: 300;
        }

    }

    .divider {
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
    }

    [type="submit"] {
        width: 172px;
    }

    [type="checkbox"] {
        height: auto;
    }
}

// Social buttons

@include width-up-to($phone-max) {
    .social-buttons {
        height: 35px;

        .btn {
            height: 35px;
        }
    }

    .social-buttons a {
        width: 100%;
    }

    .social-buttons > div {
        width: 49%;
        max-width: 13rem;
    }

    .social-buttons i.social-icon {
        width: 33px;
        height: 35px;
        text-align: center;
        padding-top: .8rem;
    }
}

.social-buttons > div {
    display: inline-block;
}

.social-buttons .btn {
    @include width-up-to($phone-max) {
        padding: 0;
    }

    @include wider-than($phone-max) {
        width: 172px;
    }
    padding: 1rem 0;
    text-align: left;

    border: 0;
    display: inline-block;
    touch-action: manipulation;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.social-icon {
    @include wider-than($phone-max) {
        padding-left: 25px;
        padding-right: 16px;
    }
}

.fb-share-button a {
    background-color: #3b5998;
    color: white;
}

.google-share-button a {
    color: #fff;
    background-color: #dd4b39;
}
