@import "mixins/flexbox";

.ox-alert {
  @include flexbox;
  @include flex-direction(row);
  @include align-items(baseline);
  .glyphicon { margin-right: 0.5rem; }
  .msg{ @include flex(1); }
}

.ox-card {
  display: block;
  margin: auto;
  max-width: 570px;
  background-color: $os_light_gray;
  padding: 20px 50px;
  .title { margin: 0 auto; }
  .wide {
    width: 100%;
  }

  .footer {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid darken($os_light_gray, 10%);
  }
  input {
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }

  input[type=submit] {
    @extend .btn;
    text-transform: uppercase;
    border-radius: 0;
    padding: 1rem 2rem;
    color: white;
    background-color: $os_orange;
    border-color: darken($os_orange, 10%);
    &:hover {
      color: $os_light_gray;
      background-color: darken($os_orange, 5%);
      border-color: darken($os_orange, 20%);
    }
  }

  .alert {
    margin-bottom: 0;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    strong { display: none; }
  }


}
