@import "bootstrap-editable";


#profile .ox-card {
  .alert { margin: 10px; }

  .profile-title {
    position: relative;

    .sign-out {
      position: absolute;
      right: 0px;
    }
  }

  .col-sm-2 {
    padding: 0;
  }

  > .row {
    margin-bottom: 40px;
  }

  .row.name {
    margin-top: 20px;
  }

  .category {
    text-align: right;
    font-weight: bold;
    color: lighten($os_gray, 30%);

    @media(max-width: 767px) {
      text-align: left;
      margin-bottom: 15px;
      color: $os_gray;

      br.wide {
        display: none;
      }
    }
  }

  .info {
    @media(max-width: 767px) {
      margin-left: 15px;
    }
  }

  .info .mod-holder {
    width: 45px;
    display: inline-block;
    margin-left:15px;
  }

  .info .mod {
    color: #aaa;
    display: inline;
    padding-right: 5px;
  }

  .mod {
    color: gray;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }

  .dim {
    color: lighten(black, 60%);
  }

  .authentication {
    margin-bottom: 6px;
    .name {
      width: 80px;
      display: inline-block;
    }
    .fa-stack {
      left: -3px;
    }
  }

  .email-entry {
    &:first-child {
      .alert { margin-top: 0; }
    }
    .email {
      color: $os_link_color;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
    &.verified {
      .unconfirmed-warning { display: none; }
      .resend-confirmation { display: none; }
    }
    .alert {
      margin-left: 0px;
      margin-right: 0px;
    }
    margin-bottom: 8px;
    position: relative;
    .spinner {
      position: absolute;
      left: -20px;
      top: 15px;
    }
    .controls {
      height: 0px;
      overflow: hidden;
      margin-left: 20px;
      transition: height 0.4s;
      .searchable-toggle {
        font-style: italic;
        font-size: 11px;
      }
      input[type='checkbox'] {
        margin-left: 6px;
      }
      .delete {
        margin-left: 1rem;
        font-size: 13px;
      }
    }
    &.expanded {
      .controls { height: 30px; }
    }
    .resend-confirmation {
      margin-left: 20px;
      form {
        display: inline;
        div { display: inline; }
      }
      input {
        color: $os_link_color;
        padding: 0;
        font-size: 13px;
        display: inline;
        border: 0;
        background: transparent;
        height: 20px;
      }
    }
    &.new {
      .resend-confirmation, .unconfirmed-warning, .controls { display: none; }
    }
  }

  #add-an-email {
    margin-top: 10px;
    display: block;
  }


  .editable-input {
    > div:first-child {
      input { margin-top: 0; }
    }
    > input:first-child{  margin-top: 0; }
  }

  .authentication {
    .mod-holder {
      > span { margin-left: 8px; }
      .edit { display: none; }
    }

    &[data-provider=identity] {
      &.editing {
        display: flex !important; // override 'block' display set by $.show()
        .mod-holder { display: none; }
        @media(max-width: 450px) {
          .icon{ display: none; }
        }

      }
      .editable-input {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .form-group > div {
        display: flex;
        flex-direction: row;
      }
      .editable-buttons {
        display: inline;
      }

      .mod-holder {
        .edit   { display: inline; }
      }
    }
  }

  .enabled-providers {
    .mod-holder .add { display: none; }
    .authentication {
      &:only-child {
        .mod-holder .delete{ display: none; }
      }
    }
  }

  .other-sign-in {
    .authentication {
      .mod-holder {
        .edit   { display: none; }
        .delete { display: none; }
      }
    }
  }

  .row.other-sign-in {
    display: none;
  }


}
