body {
  background: none;
}

#application-header {
  display: none;
}

a, .editable-click, #enable-other-sign-in, a.sign-out, #add-an-email, .resend-confirmation input[type=submit] {
  color: #027eb5 !important;
}

.ox-card {
  background-color: #fff;
  border: 0.1rem solid #d5d5d5;
}

#profile .ox-card .category {
  color: var(--greyish-brown);
}

#application-footer--copyright a {
  font-size: 10px;
  color: #000 !important;
}

#footer-rice-logo-image {
  max-height: 3.7rem;
  margin-bottom: 1.2rem;
}

.ox-card {
  height: 90rem;
}

.btn-primary {
  background-color: #f36b32;
  border: 0;
}
