@import "bootstrap-editable";

#profile {
  .alert { margin: 10px; }

  .container, .row, .col-sm-3, .col-sm-6, .col-sm-9 {
    /*border: 1px solid red;*/
  }

  > .row {
    margin-bottom: 40px;
  }

  .row.name {
    margin-top: 20px;
  }

  .category {
    text-align: right;
    font-weight: bold;
    color: lighten($os_gray, 30%);

    @media(max-width: 767px) {
      text-align: left;
      margin-bottom: 15px;
      color: $os_gray;

      br.wide {
        display: none;
      }
    }
  }

  .info {
    @media(max-width: 767px) {
      margin-left: 15px;
    }
  }

  .info .mod-holder {
    width: 20px;
    display: inline-block;
    margin-left:15px;
  }

  .info .mod {
    color: #aaa;
    display: inline;
    padding-right: 5px;
  }

  .mod {
    color: gray;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }

  .dim {
    color: lighten(black, 60%);
  }

  .authentication {
    margin-bottom: 6px;

    .fa-stack {
      left: -3px;
    }
  }

  .email-entry {
    margin-bottom: 8px;
    position: relative;
    .spinner {
      position: absolute;
      left: -20px;
      top: 15px;
    }
    .properties {
      margin-left: 20px;
      font-style: italic;
      font-size: 11px;
      input[type='checkbox'] {
        margin-left: 6px;
      }
    }
    &.new {
      .verify, .properties, .mod-holder { display: none; }
    }
  }

  #add-an-email {
    display: block;
  }
  .authentication.identity {
    &.editing {
      display: flex;
      .mod-holder { display: none; }
    }
    .editable-input {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .form-group > div {
      display: flex;
      flex-direction: row;
    }
    .editable-buttons {
      display: inline;
    }
    label { display: block; }
  }
  .row.other-sign-in {
    display: none;
  }


}
