$font-path: '/accounts/fonts';
@import "bootstrap-editable";
@import "pattern-library/elements/menus";

.main-menu {
    box-shadow: none;
    height: 2rem;
    margin: 2rem 0 0 2rem;

    .logo {
        padding: 0;

         @include width-up-to($phone-max) {
            margin: auto;
        }
    }
}

#profile .ox-card {
  .alert { margin: 10px; }

  .col-sm-2 {
    padding: 0;
  }

  > .row {
    margin-bottom: 40px;
  }

  .row.name {
    margin-top: 20px;
  }

  #name {
    .glyphicon {
      margin-left: 2rem;
    }
  }

  .category {
    text-align: right;
    font-weight: bold;
    color: lighten($os_gray, 30%);

    @media(max-width: 767px) {
      text-align: left;
      margin-bottom: 15px;
      color: $os_gray;

      br.wide {
        display: none;
      }
    }
  }

  button.editable {
    background-color: transparent;
    border: 0;
  }

  .info {
    @media(max-width: 767px) {
      margin-left: 15px;
    }
  }

  .info .mod-holder {
    width: 45px;
    display: inline-block;
    margin-left:15px;
  }

  .info .mod {
    color: #aaa;
    display: inline;
    padding: 0.3rem;
  }

  a.mod {
    color: gray !important;
    &:hover {
      color: black !important;
    }
    text-decoration: none;
  }

  .dim {
    color: lighten(black, 60%);
  }

  .authentication {
    margin-bottom: 6px;
    .name {
      width: 80px;
      display: inline-block;
    }
    .fa-stack {
      left: -3px;
    }
    .fa-stack-1x,  .fa-stack-2x {
      color: var(--accent, $os_link_color);
    }
    .mod {
      text-decoration: none !important;
    }
  }

  .email-entry {
    &:first-child {
      .alert { margin-top: 0; }
    }
    .unconfirmed-warning .msg { margin: 0 0.5rem; }
    &.verified {
      .unconfirmed-warning { display: none; }
      .resend-confirmation { display: none; }
    }
    .alert {
      margin-left: 0px;
      margin-right: 0px;
    }
    margin-bottom: 8px;
    position: relative;
    .spinner {
      position: absolute;
      left: -20px;
      top: 15px;
    }

    .email-entry__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      cursor: default;
    }

    .email-entry__value {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      font-weight: 600;
      align-items: center;
    }

    .unconfirmed-warning {
      font-weight: normal;
    }

    .email-entry__toggle {
      border: none;
      background: transparent;
      color: #027eb5;
      padding: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .editable-input input {
      width: 100%;
      border: 1px solid #d7dde6;
      border-radius: 0.3rem;
      padding: 0.75rem 0.9rem;
      background: #fff;
      font-size: 1rem;
      color: $os_dark;
      box-shadow: inset 0 1px 2px rgba(15, 23, 42, 0.08);
    }

    .editable-input input:focus {
      outline: none;
      border-color: #027eb5;
      box-shadow: 0 0 0 2px rgba(2, 126, 181, 0.2);
    }

    .email-entry__controls {
      display: none;
      overflow: hidden;
      margin-left: 20px;
      margin-top: 4px;
      font-size: 13px;
      div {
        margin-top: 4px;
      }
      .searchable-toggle {
        label { font-weight: normal; }
      }
      input[type='checkbox'] {
        margin-left: 6px;
        margin-right: 4px;
      }
      .delete {
        margin-left: 6px;
        button {
          appearance: none;
          padding: 0.3rem 0.6rem;
          font-size: 13px;
          margin-left: 0;
          border: 0;
          color: lighten(black, 30%);
          background-color: transparent;
          font-weight: 600;
        }

        button:hover,
        button:focus {
          color: #b91c1c;
          outline: none;
        }
      }
    }

    &.is-open .email-entry__controls {
      display: block;
    }

    .resend-confirmation {
      margin-left: 7px;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: lighten(black, 40%);

      .resend-confirmation__form {
        margin: 0;
      }

      button {
        border: 1px solid rgba(11, 106, 162, 0.35);
        border-radius: 0.3rem;
        background: #fff;
        color: $os_link_color;
        padding: 0.5rem 1.2rem;
        font-weight: 600;
        font-size: 13px;
        cursor: pointer;
      }

      button:hover,
      button:focus {
        border-color: $os_link_color;
        outline: none;
      }
    }
    &.new {
      .editable-click { border-bottom: 0; }
      .resend-confirmation, .unconfirmed-warning, .email-entry__controls { display: none; }
    }
  }

  #add-an-email {
    background-color: transparent;
    border: thin solid gray;
    border-radius: 0.3rem;
    margin-top: 10px;
    display: block;
  }

  #add-an-email-editable {
    padding-bottom: 1rem;
  }


  .editable-input {
    > div:first-child {
      input { margin-top: 0; }
    }
    > input:first-child{  margin-top: 0; }
  }

  .authentication {
    .mod-holder {
      > span { margin-left: 8px; }
      .edit { display: none; }
      .edit--newflow { display: none; }
    }

    &[data-provider=identity] {
      &.editing {
        display: flex !important; // override 'block' display set by $.show()
        .mod-holder { display: none; }
        @media(max-width: 450px) {
          .icon{ display: none; }
        }

      }
      .editable-input {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .form-group > div {
        display: flex;
        flex-direction: row;
      }
      .editable-buttons {
        display: inline;
      }

      .mod-holder {
        .edit   { display: inline; }
        .edit--newflow   { display: inline; }
      }
    }
  }

  #enable-other-sign-in {
    display: list-item;
  }

  .enabled-providers {
    .mod-holder .add { display: none; }
    .mod-holder .add--newflow { display: none; }
    .authentication {
      &:only-child {
        .mod-holder .delete { display: none; }
        .mod-holder .delete--newflow { display: none; }
      }
    }
  }

  .other-sign-in {
    summary {
      display: list-item;
      margin-top: -3rem;
      margin-bottom: 0.5rem;
    }

    .controls {
      padding-left: 1.6rem;
    }
    .authentication {
      .mod-holder {
        .edit   { display: none; }
        .edit--newflow   { display: none; }
        .delete { display: none; }
        .delete--newflow { display: none; }
      }
    }
  }

}
