@import "pattern-library/headers";
//@import "bootstrap-editable";
@import "pattern-library/elements/menus";

#profile .ox-card {
  border: thin solid grey;
  box-sizing: border-box;
  margin: auto;
  max-width: 57rem;
  padding: 3rem 5rem 5rem;

  h1 {
    @include body-font(1.8rem);

    font-weight: bold;
    text-align: center;
  }

  .info-grid {
    display: grid;
    color: black;
    gap: 4rem 2rem;
    grid-template-columns: auto 1fr;
    margin-top: 4rem;
    width: 100%;
  }

  .profile-title {
    position: relative;

    .sign-out {
      position: absolute;
      right: 0px;
    }
  }

  .form-inline {
    padding: 0;

    input:not([type="checkbox"]):not([type="radio"]) {
      font-size: inherit;
      height: 5rem;
    }
  }

  .category {
    text-align: right;
    font-weight: bold;

    @media(max-width: 767px) {
      text-align: left;
      margin-bottom: 15px;

      br.wide {
        display: none;
      }
    }
  }

  .info {
    @media(max-width: 767px) {
      margin-left: 15px;
    }

    .email + .controls {
      display: none;
    }
  }

  .other-sign-in {
    display: none;
  }

  .btn-primary {
    background-color: #F47641;;
    border: 0;
  }

  .mod {
    color: gray;
    cursor: pointer;
    &:hover {
      color: black;
    }

    &.edit--newflow,
    &.delete--newflow {
      display: none;
    }
  }

  .authentication .name {
    display: inline-block;
    width: 12rem;
  }
}
