

#login-explanation {
  width: 400px;
}

$login-options-width: 300px;

#login-options {
  padding:20px 0 30px 0;
  width: $login-options-width;
  float: right;
  text-align: center;

  .login-button {
    padding: 10px;
  }

  #or-bar {
    margin-top: 35px;
    position: relative;
    width: $login-options-width;
    border-bottom: 1px solid #dddddd;

    #or-text {
        position: absolute;
        top:-10px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 126px;
        padding: 0 14px;
        background: white;
        font-weight: bold;
      }      
  }

  #password-login {
    margin-left: 30px;
    margin-top: 25px;
    text-align: left;
    input[type='text'], input[type='password'] {
      width: 226px;
    }
    input[type='submit'] {
      float: right;
    }
    .password-actions {
      margin-top: 7px;
      .sign-up {
        float:right;
        margin-right: 33px;
        margin-top: 7px;
      }      
    }

  }
}