body.sessions {
  background: image_url('home-bg.jpg') no-repeat center center fixed;

  .logo {
    display: block;
    margin: auto;
  }

  .login.ox-card {
    margin-top: 2rem;
    input {
      font-size: 2rem;
      padding: 0.5rem;
      margin: 0.5rem 0;
    }
    input[type=submit] {
      background-color: $os_orange;
      border-color: darken($os_orange, 10%);
    }
    .alert {
      margin-bottom: 0;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      strong { display: none; }
    }
  }

  .btn-social {
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    width: 180px;
    border-radius: 0;
    > :first-child {
      padding-top: 4px;
      width: 40px;
      padding-left: 2px;
    }
  }

  .separator-line {
    text-align: center;
    position: relative;
    &:after {
      border-top: 2px solid darken($os_light_gray, 10%);
      content: '';
      display: block;
      width: calc(50% - 20px);
      right: 0px;
      position: absolute;
      top: 50%;
    }
    &:before {
      border-top: 2px solid darken($os_light_gray, 10%);
      content: '';
      display: block;
      width: calc(50% - 20px);
      left: 0px;
      position: absolute;
      top: 50%;
    }

  }
}
