body.sessions {

  .logo {
    display: block;
    margin: auto;
  }

  .login-help {
    i {
      color: $os_link_color;
      margin-left: 6px;
    }
  }

  &.new {
    .ox-card .form-group +
    a:not(.footer).trouble {
      display: inline-block;
      margin-top: 10px;
    }
  }
}

#signin-help {
  form {
    margin-top: 30px;
  }
}

#reset-password {
  form {
    margin-top: 30px;
  }
}

.text-nowrap {
  white-space: nowrap;
}

form.full-width {
  input[type=text],
  select {
    width: 100%;
  }
}
