body.sessions {

  .logo {
    display: block;
    margin: auto;
  }

  .btn-social {
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    width: 180px;
    border-radius: 0;
    > :first-child {
      padding-top: 4px;
      width: 40px;
      padding-left: 2px;
    }
  }

  .identity-password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input { margin: 0; }
  }

  .separator-line {
    text-align: center;
    position: relative;
    &:after {
      border-top: 2px solid darken($os_light_gray, 10%);
      content: '';
      display: block;
      width: calc(50% - 20px);
      right: 0px;
      position: absolute;
      top: 50%;
    }
    &:before {
      border-top: 2px solid darken($os_light_gray, 10%);
      content: '';
      display: block;
      width: calc(50% - 20px);
      left: 0px;
      position: absolute;
      top: 50%;
    }
  }
}
