body.signup {
  input[type=text],
  select {
    // margin-top: 1rem;
    width: 100%;
  }

  // elements which are conditionally displayed depending on signup state
  #signup_email:not([value]), .audience-help, .edu-warning {
    display: none;
  }

  .edu-warning {
    // bs variable
    color: $state-danger-text;
  }

  .subjects {
    label { font-weight: inherit; }
  }

  .newsletter {
    margin: 20px 0px 20px;
  }

  .agree {
    margin-bottom: 16px;
  }

  .checkbox {
    input {
      margin-top: 2px;
    }
  }
}
