body.sessions, body.lookup_login {

  .logo {
    display: block;
    margin: auto;
  }
  .login-help {
    i {
      color: $os_link_color;
      margin-left: 6px;
    }
  }
  &.new {
    .ox-card .form-group +
    a:not(.footer).trouble {
      display: inline-block;
      margin-top: 10px;
    }
  }
}
