@import "pattern-library/headers";

body.signup {

  // elements which are conditionally displayed depending on signup state
  #signup_email:not([value]), .audience-help, .edu.warning {
    display: none;
  }

  @import "controls/subjects_multi_select";

  .newsletter {
    margin: 20px 0px 20px;
  }

  .agree {
    margin-bottom: 16px;
  }

  .instructor-verification-help {
    @include set-font(body-large);
  }

  .checkbox {
    input {
      margin-top: 2px;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
