$facebook_color: #3b5998;
$twitter_color: #55acee;
$google_color: #dd4b39;

.facebook-bkg {
  color: $facebook_color;

  &.dim {
    color: lighten($facebook_color, 30%)
  }
}

.google_oauth2-bkg {
  color: $google_color;

  &.dim {
    color: lighten($google_color, 30%)
  }
}

.twitter-bkg {
  color: $twitter_color;

  &.dim {
    color: lighten($twitter_color, 20%)
  }
}

.identity-bkg {
  color: black;

  &.dim {
    color: lighten(black, 60%)
  }
}
