@import "common_colors";

pre.code, pre.prettyprint {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;

  .string { color: rgb(118, 177, 67); }
  .number { color: darken(#F47641, 10%); }
  .boolean { color: blue; }
  .null { color: purple; }
  .key { color: #F47641; }
}
