<div class="content">
    <div class="form-divider">
        <div class="line"></div>
        <div class="the-content">
            <%= dividing_text %>
        </div>
        <div class="line"></div>
    </div>
</div>
