<div class="tab-group">
    <a href="/newflow/signin" class="tab login <%= active_class %>">Log in</a>
    <a href="/newflow/welcome" class="tab signup <%= active_class %>">Sign up</a>

    <a class="tab tab--placeholder"></a>
    <a class="tab tab--placeholder"></a>
    <a class="tab tab--placeholder"></a>
</div>
