<div id="signinup-form">
    <div class="content">
        <%= render partial: 'tab_group' , locals: { active_class: 'login--active' } %>

        <form>
            <div class="step-counter">
                <div>
                    <span>Step 2 of 3</span>
                </div>
            </div>

                <header>Hi, Jane! Confirm your email.</header>

                <div class="content control-group info-message">
                    An email has been sent to me@myemail.com.
                    Please enter the PIN you received below.
                    You can also
                    <a href="#">edit your email</a>.
                </div>

                <div class="content control-group">
                    <label class="field-label">Confirm PIN *</label>
                    <input type="text" name="email"
                                placeholder="Enter 6-PIN here" class="delay-validation" required>
                    <!-- <div class="invalid-message">Your email address or login with social</div> -->
                </div>


                <div class="content">
                    <input type="submit" value="Continue" class="primary">
                </div>

        </form>
    </div>
</div>
