<div id="signinup-form">
    <div class="content">
        <div class="tab-group">
            <div class="tab active">Log in</div>
            <div class="tab inactive">Sign up</div>
            <div class="tab tab__placeholder"></div>
            <div class="tab tab__placeholder"></div>
            <div class="tab tab__placeholder"></div>
        </div>
        <form>
            <h1>Log in to your OpenStax account</h1>

            <div class="content">
                <div>Login with:</div>
                <div>
                    <a class="btn btn-social btn-facebook">
                        <i class="fa fa-facebook"></i> Facebook
                    </a>
                    <a class="btn btn-social btn-google">
                        <i class="fa fa-google"></i> Google
                    </a>
                </div>
            </div>

            <div class="control-group">
                <label class="field-label">Email *</label>
                <input type="text" name="email"
                            placeholder="Email" class="delay-validation" required>
                <!-- <div class="invalid-message">Your email address or login with social</div> -->
            </div>

            <div class="control-group">
                <label class="field-label">Password *</label>
                <input type="password" name="password"
                            placeholder="Password" class="delay-validation" required>
                <!-- <div class="invalid-message">A secure password</div> -->
            </div>

            <span><input type="submit" value="Continue" class="primary"></span>
        </form>
    </input>
</div>
