<div id="signinup-form">
    <div class="content">
        <div class="tab-group">
            <div class="tab active">Log in</div>
            <div class="tab inactive">Sign up</div>
            <div class="tab tab--placeholder"></div>
            <div class="tab tab--placeholder"></div>
            <div class="tab tab--placeholder"></div>
        </div>

        <form>
                <h1 style="margin-top: 3rem">Log in to your OpenStax account</h1>

                <div class="content">
                    <div>Log in with:</div>

                    <div class="social-buttons" style="margin-top: 0">

                        <div class="fb-share-button">
                            <a class="facebook btn" href="#">
                                <i class="social-icon fa fa-facebook"></i>
                                <span>Facebook</span>
                            </a>
                        </div>

                        <div class="google-share-button">
                            <a href="#" class="google btn">
                                <i class="social-icon fa fa-google"></i>
                                <span>Google</span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="divider">OR LOG IN BELOW</div>

                <div class="content control-group" style="margin-bottom: 2rem">
                    <label class="field-label">Email *</label>
                    <input type="text" name="email"
                                placeholder="me@myemail.com" class="delay-validation" required>
                    <!-- <div class="invalid-message">Your email address or login with social</div> -->
                </div>

                <div class="content control-group" style="margin-bottom: .8rem">
                    <label class="field-label">Password *</label>
                    <input type="password" name="password"
                                placeholder="Password" class="delay-validation" required>
                    <!-- <div class="invalid-message">A secure password</div> -->
                </div>

                <div class="content">
                    <input type="submit" value="Continue" class="primary" style="margin-bottom: 1rem">
                </div>

                <div class="content">
                    <a href="#">Forgot your password?</a>
                </div>
        </form>
    </div>
</div>
