<div id="signinup-form">
    <div class="content">
        <div class="tab-group">
            <div class="tab inactive">Log in</div>
            <div class="tab active">Sign up</div>
            <div class="tab tab--placeholder"></div>
            <div class="tab tab--placeholder"></div>
            <div class="tab tab--placeholder"></div>
        </div>

        <form>
                <h1>Set up your account</h1>

                <div class="content role-section">
                    <div>
                        <div class="back-arrow"><i class="fa fa-arrow-left"></i></div>
                        <input type="button" value="Student" class="role-button">
                    </div>
                </div>

                <div class="content">
                    <div>Sign up with:</div>

                    <div class="social-buttons">

                        <div class="fb-share-button">
                            <a class="facebook btn" href="#">
                                <i class="social-icon fa fa-facebook"></i>
                                <span>Facebook</span>
                            </a>
                        </div>

                        <div class="google-share-button">
                            <a href="#" class="google btn">
                                <i class="social-icon fa fa-google"></i>
                                <span>Google</span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="divider">OR SIGN UP BELOW</div>

                <div class="content control-group">
                    <label class="field-label">First name *</label>
                    <input type="text" name="first_name"
                                placeholder="First name" class="delay-validation" required>
                    <!-- <div class="invalid-message">You surely have a first name</div> -->
                </div>

                <div class="content control-group">
                    <label class="field-label">Last name *</label>
                    <input type="text" name="last_name"
                                placeholder="Last name" class="delay-validation" required>
                    <!-- <div class="invalid-message">You surely have a last name</div> -->
                </div>

                <div class="content control-group">
                    <label class="field-label">Email *</label>
                    <input type="text" name="email"
                                placeholder="Email" class="delay-validation" required>
                    <!-- <div class="invalid-message">Your email address or login with social</div> -->
                </div>

                <div class="content control-group">
                    <label class="field-label">Password *</label>
                    <input type="password" name="password"
                                placeholder="Password" class="delay-validation" required>
                    <!-- <div class="invalid-message">A secure password</div> -->
                </div>

                <div class="content control-group">
                    <input type="checkbox" name="newsletter" checked>
                    <span>Send me the OpenStax newsletter</span>
                    <br>

                    <input type="checkbox" name="toc">
                    <span>I agree to the Terms of Use and Privacy Policy</span>
                </div>

                <div class="content">
                    <input type="submit" value="Continue" class="primary">
                </div>
        </form>
    </div>
</div>
