<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div id="application-header" class="row">

  <div class="col-sm-4">
    <a href="<%= root_path %>" id="top-nav-logo"></a>
  </div>

  <% unless @hide_session_info %>
  <div id="session-info" class="col-sm-8">
    <span>
      <% if signed_in? %>
        Welcome, <%= link_to current_user.username, main_app.profile_path, class: 'username' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Sign out', main_app.signout_path %>
      <% else %>
        <%= link_to "Sign in", main_app.signin_path %>
      <% end %>
    </span>
  </div>
  <% end %>

</div>

