<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div style="display:none">
  <div id="os_green"       class="os_green"      ></div>
  <div id="os_orange"      class="os_orange"     ></div>
  <div id="os_gray"        class="os_gray"       ></div>
  <div id="os_yellow"      class="os_yellow"     ></div>
  <div id="os_blue"        class="os_blue"       ></div>
  <div id="os_dark_orange" class="os_dark_orange"></div>
</div>
