<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div id="application-header">



  <%= render :partial => "layouts/application_top_nav" %>



  <noscript>
    <%= attention_tag([(t :".please_enable_javascript")], :alert, "js_not_enabled_alert") %>
  </noscript>

</div>
