<% if flash[:alert].present? %>
  <div class="layout-alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice].present? %>
  <div class="layout-notice">
    <%= flash[:notice].html_safe %>
  </div>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
