<div class="main-menu" role="menubar" aria-label="Main menu">
    <span class="logo-wrapper">
        <span class="logo">
            <a href="https://openstax.org" aria-label="Home Page">
                <img class="logo-color" src="http://openstax.org/images/logo.svg" alt="OpenStax logo">
            </a>
        </span>
    </span>
    <ul class="nav-menu">
        <li class="nav-menu-item">
        </li>
    </ul>
</div>
