<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% top_nav_home_page_background %>

<% content_for :application_body do %>

  <div id="application-home-page-background-image">
    <%= image_tag 'tagline.png', 
                  :alt    => "Big Student Data.  Big Student Results.", 
                  :id     => "application-home-page-welcome-image" %>
  </div>

<% end %>

<%= render :template => "layouts/application" %>
