<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% content_for :application_body do %>

  <div id="application-body-nav">

    <div id="application-body-nav-body">
      <%= yield :page_heading %>
      <%= yield %>
    </div>

    <div id="application-body-nav-nav">
      <%= yield :nav %>
    </div>

  </div>

<% end %>

<%= render :template => "layouts/application" %>
