<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% content_for :application_body do %>

  <div id="application-body-api-docs">
    <%= yield %>
  </div>

<% end %>

<%= render :template => "layouts/application" %>
